<meta http-equiv="ScreenOrientation" name="viewport" content="width=device-width, initial-scale=1.0, autoRotate:disabled">


  <link rel="apple-touch-icon" sizes="76x76" href="../../../../assets/images/cp3-favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../../../assets/images/cp3-favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../../../assets/images/cp3-favicon/favicon-16x16.png">
  <link rel="manifest" href="../../../../assets/images/cp3-favicon/site.webmanifest">
  <link rel="mask-icon" href="../../../../assets/images/cp3-favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#000000">


  <app-header></app-header>
  <app-body-container></app-body-container>
<app-footer></app-footer>

