
html, body {
  background: #F2F2F2;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.splash-container {
  margin: 0px auto;
  width: 260px;
  margin-top: 150px;

}

.splash-logo-container {


}

a:link {
  font-size: 35px;
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-size: 35px;
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

.link-container {
  color: green;
  text-align: center;
}
