<div class="how-to-header" id="interface">
  <h2><b>Interface:</b></h2>
</div>
<br>
<br>
<div class="interface">
  <div class="interface-intro">
    <p>Here is the main screen which will present itself once the application loads. On it you will be able to view the
      winning numbers for your states lottery, which will update in real time as the day progresses. Below will be a
      more in-depth look into the interface:</p>
  </div>
  <img src="/assets/images/interfaceScreen.png" style="height: 40%; width: 20%">
  <br>
  <br>
  <br>
  <div class="top-screen">
    <p>
      The top half of the screen displays the location, date and the winning numbers for that specific time of
      day. Beyond that there are several other features to be utilized when viewing and generating picks.
    </p>
    <img src="/assets/images/interfaceTopScreen.png" style="height: 30%; width: 35%">
  </div>
  <div class="interface-top-bar">
    <div class="interface-language">
      <h2>Language</h2>
      <p>To provide ease of access this button will allow you to select the language you are most comfortable with in
        order to provide the best possible experience within <i><b>Chuck's Pick 3</b></i></p>
      <br>
      <img src="/assets/images/interfaceTopBarLanguage.png">
    </div>
    <div class="interface-settings">
      <h2>Settings</h2>
      <p>This will allow you to access your personal account details as well as allow you to change and customize
        notifications to better optimize your experience.</p>
      <br>
      <img src="/assets/images/interfaceTopBarSettings.png">
    </div>
  </div>
  <div class="interface-top-screen">
    <div class="interface-top-history">
      <h2>History</h2>
      <p> Using the left and right arrows on the screen you can navigate between different dates. This will allow you to
        see previously generated numbers and numbers which were drawn for that date and time.</p>
      <br>
      <img src="/assets/images/interfaceHistoryArrow.png" style="height: 30%; width: 35%">
    </div>
    <div class="interface-top-new-picks">
      <h2>New Picks</h2>
      <p>This will allow you to generate lotto numbers based off of winning numbers from a specified time and date. Once
        you make your selection then you can specify which date and time in which these numbers will be used.</p>
      <br>
      <img src="/assets/images/interfaceViewPicks.png" style="height: 30%; width: 35%">
    </div>
    <div class="interface-top-generated-picks">
      <h2>View Picks</h2>
      <p>This will allow take you to a separate screen which will allow you to view the numbers which you have generated
        for that time of day.</p>
      <br>
      <img src="/assets/images/interfaceHistoryGenerated.png" style="height: 30%; width: 35%">
    </div>
  </div>
  <div class="interface-colors">
    <h2>Interface Colors and Their Meanings</h2>
    <div class="interface-green">
      <p>Used to signify if you have a winning number from your generated picks.</p>
      <br>
      <img src="/assets/images/interfaceColorWin.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-yellow" style="height: 20%; width: 20%">
      <p>Used to signify when you have generated numbers for that time and date.</p>
      <br>
      <img src="/assets/images/interfaceColorGenerated.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-gray">
      <p>Used to signify if there are no winning numbers/when something is unselected.</p>
      <br>
      <img src="/assets/images/interfaceColorUnselectedNoWinner.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-black">
      <p>Used to signify when you have a specific time of day selected.</p>
      <br>
      <img src="/assets/images/interfaceColorSelected.png" style="height: 20%; width: 20%">
    </div>
  </div>
  <div class="interface-bottom-screen">
    <h2>Time of Day</h2>
    <p> You can select and see the winning numbers for the time of day in this section of the interface, the tab color
      on the right will signify if there were generated, winning or no winning numbers.</p>
    <br>
    <img src="/assets/images/interfaceBottomHalf.png" style="height: 30%; width: 35%">

  </div>
  <br>
  <br>
</div>

<div class="interface-mobile">
  <div class="interface-intro">
    <p>Here is the main screen which will present itself once the application loads. On it you will be able to view the
      winning numbers for your states lottery, which will update in real time as the day progresses. Below will be a
      more in-depth look into the interface:</p>
  </div>
  <img src="/assets/images/interfaceScreen.png">
  <br>
  <br>
  <br>
  <div class="top-screen">
    <p>
      The top half of the screen displays the location, date and the winning numbers for that specific time of
      day. Beyond that there are several other features to be utilized when viewing and generating picks.
    </p>
    <img src="/assets/images/interfaceTopScreen.png">
  </div>
  <div class="interface-top-bar">
    <div class="interface-language">
      <h2>Language</h2>
      <p>To provide ease of access this button will allow you to select the language you are most comfortable with in
        order to provide the best possible experience within <i><b>Chuck's Pick 3</b></i></p>
      <br>
      <img src="/assets/images/interfaceTopBarLanguage.png">
    </div>
    <div class="interface-settings">
      <h2>Settings</h2>
      <p>This will allow you to access your personal account details as well as allow you to change and customize
        notifications to better optimize your experience.</p>
      <br>
      <img src="/assets/images/interfaceTopBarSettings.png">
    </div>
  </div>
  <div class="interface-top-screen">
    <div class="interface-top-history">
      <h2>History</h2>
      <p> Using the left and right arrows on the screen you can navigate between different dates. This will allow you to
        see previously generated numbers and numbers which were drawn for that date and time.</p>
      <br>
      <img src="/assets/images/interfaceHistoryArrow.png">
    </div>
    <div class="interface-top-new-picks">
      <h2>New Picks</h2>
      <p>This will allow you to generate lotto numbers based off of winning numbers from a specified time and date. Once
        you make your selection then you can specify which date and time in which these numbers will be used.</p>
      <br>
      <img src="/assets/images/interfaceViewPicks.png">
    </div>
    <div class="interface-top-generated-picks">
      <h2>View Picks</h2>
      <p>This will allow take you to a separate screen which will allow you to view the numbers which you have generated
        for that time of day.</p>
      <br>
      <img src="/assets/images/interfaceHistoryGenerated.png">
    </div>
  </div>
  <div class="interface-colors">
    <h2>Interface Colors and Their Meanings</h2>
    <div class="interface-green">
      <p>Used to signify if you have a winning number from your generated picks.</p>
      <br>
      <img src="/assets/images/interfaceColorWin.png">
    </div>
    <div class="interface-yellow">
      <p>Used to signify when you have generated numbers for that time and date.</p>
      <br>
      <img src="/assets/images/interfaceColorGenerated.png">
    </div>
    <div class="interface-gray">
      <p>Used to signify if there are no winning numbers/when something is unselected.</p>
      <br>
      <img src="/assets/images/interfaceColorUnselectedNoWinner.png">
    </div>
    <div class="interface-black">
      <p>Used to signify when you have a specific time of day selected.</p>
      <br>
      <img src="/assets/images/interfaceColorSelected.png">
    </div>
  </div>
  <div class="interface-bottom-screen">
    <h2>Time of Day</h2>
    <p> You can select and see the winning numbers for the time of day in this section of the interface, the tab color
      on the right will signify if there were generated, winning or no winning numbers.</p>
    <br>
    <img src="/assets/images/interfaceBottomHalf.png">

  </div>
  <button type="submit"
          class="btn btn btn-success submit btn-lg btn-block" (click)="goToMobileInterface()">
    Learn to Generate Numbers
  </button>
  <br>
  <br>
</div>
