<div class="how-to-header" id="interface">
  <h1>{{ 'interface-title' | translate }}</h1>
  <br>
  <br>
</div>
<br>
<br>
<div class="interface">
  <div class="interface-intro">
    <p>{{ 'interface-intro' | translate }}</p>
  </div>
  <img src="/assets/images/interfaceScreen.png" style="height: 40%; width: 20%">
  <br>
  <br>
  <br>
  <div class="top-screen">
    <p>{{'interface-top-screen' | translate }}</p>
    <img src="/assets/images/interfaceTopScreen.png" style="height: 30%; width: 35%">
  </div>
  <div class="interface-top-bar">
    <div class="interface-language">
      <h2>{{ 'interface-title-language' | translate }}</h2>
      <p>{{ 'interface-language' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceTopBarLanguage.png">
    </div>
    <div class="interface-settings">
      <h2>{{'interface-title-settings' | translate }}</h2>
      <p>{{'interface-settings' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceTopBarSettings.png">
    </div>
  </div>
  <div class="interface-top-screen">
    <div class="interface-top-history">
      <h2>{{'interface-title-history' | translate }}</h2>
      <p>{{'interface-history' | translate}}</p>
      <br>
      <img src="/assets/images/interfaceHistoryArrow.png" style="height: 30%; width: 35%">
    </div>
    <div class="interface-top-new-picks">
      <h2>{{'interface-title-new-picks' | translate }}</h2>
      <p>{{'interface-new-picks' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceViewPicks.png" style="height: 30%; width: 35%">
    </div>
    <div class="interface-top-generated-picks">
      <h2>{{'interface-title-view-picks' | translate }}</h2>
      <p>{{'interface-view-picks' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceHistoryGenerated.png" style="height: 30%; width: 35%">
    </div>
  </div>
  <div class="interface-colors">
    <h2>{{'interface-title-colors' | translate }}</h2>
    <div class="interface-green">
      <p>{{'interface-colors-g' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceColorWin.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-yellow">
      <p>{{'interface-colors-y' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceColorGenerated.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-gray">
      <p>{{'interface-colors-gy' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceColorUnselectedNoWinner.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-black">
      <p>{{'interface-colors-b' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceColorSelected.png" style="height: 20%; width: 20%">
    </div>
  </div>
  <div class="interface-bottom-screen">
    <h2>{{'interface-title-time' | translate }}</h2>
    <p>{{'interface-time' | translate }}</p>
    <br>
    <img src="/assets/images/interfaceBottomHalf.png" style="height: 30%; width: 35%">

  </div>
  <br>
  <br>
</div>

<div class="interface-mobile">
  <div class="interface-intro">
    <p>{{ 'interface-intro' | translate }}</p>
  </div>
  <img src="/assets/images/interfaceScreen.png">
  <br>
  <br>
  <br>
  <div class="top-screen">
    <p>{{'interface-top-screen' | translate }}</p>
    <img src="/assets/images/interfaceTopScreen.png">
  </div>
  <div class="interface-top-bar">
    <div class="interface-language">
      <h2>{{ 'interface-title-language' | translate }}</h2>
      <p>{{ 'interface-language' | translate }}</p>      <br>
      <img src="/assets/images/interfaceTopBarLanguage.png">
    </div>
    <div class="interface-settings">
      <h2>{{'interface-title-settings' | translate }}</h2>
      <p>{{'interface-settings' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceTopBarSettings.png">
    </div>
  </div>
  <div class="interface-top-screen">
    <div class="interface-top-history">
      <h2>{{'interface-title-history' | translate }}</h2>
      <p>{{'interface-history' | translate}}</p>
      <br>
      <img src="/assets/images/interfaceHistoryArrow.png">
    </div>
    <div class="interface-top-new-picks">
      <h2>{{'interface-title-new-picks' | translate }}</h2>
      <p>{{'interface-new-picks' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceViewPicks.png">
    </div>
    <div class="interface-top-generated-picks">
      <h2>{{'interface-title-view-picks' | translate }}</h2>
      <p>{{'interface-view-picks' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceHistoryGenerated.png">
    </div>
  </div>
  <div class="interface-colors">
    <h2>{{'interface-title-colors' | translate }}</h2>
    <div class="interface-green">
      <p>{{'interface-colors-g' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceColorWin.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-yellow">
      <p>{{'interface-colors-y' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceColorGenerated.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-gray">
      <p>{{'interface-colors-gy' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceColorUnselectedNoWinner.png" style="height: 20%; width: 20%">
    </div>
    <div class="interface-black">
      <p>{{'interface-colors-b' | translate }}</p>
      <br>
      <img src="/assets/images/interfaceColorSelected.png" style="height: 20%; width: 20%">
    </div>
  </div>
  <div class="interface-bottom-screen">
    <h2>{{'interface-title-time' | translate }}</h2>
    <p>{{'interface-time' | translate }}</p>
    <br>
    <img src="/assets/images/interfaceBottomHalf.png">

  </div>
  <button type="submit"
          class="btn btn btn-success submit btn-lg btn-block" (click)="goToMobileInterface()">
    {{'interface-btn' | translate }}
  </button>
  <br>
  <br>
</div>
