.navbar-wrapper {

    border : 2px solid #C8E6C9;
    overflow: hidden;

}

.navbar-wrapper div {
    min-height: 200px;
    padding: 10px;
}
#nav-left {
    background-color: blue;
    float:left;
    margin-right:20px;
    border-right:2px solid #000;
}

#nav-right {
    background-color: white;
    overflow:hidden;
    margin:10px;
    border:2px dashed #ccc;
    min-height:170px;
    padding-right: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 1px 179px;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

@media screen and (max-width: 400px) {
    #one {
        float: none;
        margin-right:0;
        width:auto;
        border:0;
        border-bottom:2px solid #000;
    }
}