
.navbar-left-container {
    float: left;
    margin: 0;
    padding: 0;
}
#nav-left {
    margin: 0;
    list-style: none;
    border:  solid darkblue;
    padding: 10px 10px;
    top: 0;
    left: 0;
    z-index: 9999;
}
#nav-left li {
    float: left;
    list-style: none;
    padding: 1px 46px;
}
li a:hover {
    background-color: sienna;
}
#nav-left a {
    color: darkgrey;
    padding: 10px;
}
.navbar-right-container {
    float: right;
    margin: 0;
    padding: 0;
    margin-top: -24px;
}
#nav-right {
    float: right;
    padding: 10px 16px;
    color: darkgrey;
    border:  solid lightseagreen;
    top: 0;
    left: 0;
    z-index: 9999;
}
#nav-right li {
    float: right;
    list-style: none;
    padding: 1px 46px;
}

#nav-right a {
    color: darkgrey;
    padding: 10px;
}

#nav-right,#nav-left {
    font-size: 25px;
    display: inline-block;
    align-items: center;
}