@import "../../../breakpoints";
@import "../../../theme/variables";

ion-grid {
  background-color: $chucksPick3White;
  border: .5px solid gray;
  padding: 0;
  height: 100%
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.column {
  flex-basis: 33.3%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

@media screen and (min-width: 800px) {
  ._25 {
    flex: 2.5;
  }
  ._55 {
    flex: 5.5;
  }
  ._20 {
    flex: 2;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-color: $chucksPick3White;
  border-top: $chucksPick3Gray 1px solid;
  border-bottom: $chucksPick3Gray 1px solid;
}

.draw-time-icon {
  display: inline-block;
  width: 40%;

  > ion-icon.selected {
    color: $chucksPick3Black;
  }

  > ion-icon.not-selected {
    color: $chucksPick3LightGray;
  }
}

.time-of-day-icon {
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
  font-size: 13vw;
  left: 20px;
  @include for-size(iPhone5-SE) {
    font-size: 12vw;
  }
}

.time-of-day-text {
  float: left;
  vertical-align: middle;
  font-size: 7.6vw;
  font-weight: 700;
}

.draw-time-title {
  display: inline-block;
  width: 60%;

  > span.not-selected {
    color: $chucksPick3Gray;
  }

  > span.selected {
    color: #1c1c1d;
  }
}

.generated-picks-indicator {
  display: inline-block;
  width: 16%;
  line-height: 3em;
  float: right;
  background-color: $chucksPick3LightGray;
}

.generated-picks-indicator.not-drawn-yet,
.generated-picks-indicator.drawn,
.generated-picks-indicator.drawn-with-generated-picks-with-no-winners {
  background-color: $chucksPick3LightGray;
}

.generated-picks-indicator.drawn.selected,
.generated-picks-indicator.not-drawn-yet.selected,
.generated-picks-indicator.not-drawn.selected,
.generated-picks-indicator.drawn-with-generated-picks-with-no-winners.selected {
  background-color: $chucksPick3Black;
  width: 32%;
}

.generated-picks-indicator.not-drawn-yet-with-generated-picks {
  background-color: $chucksPick3Yellow;
}

.generated-picks-indicator.not-drawn-yet-with-generated-picks.selected {
  background-color: $chucksPick3Yellow;
  width: 32%;
}

.generated-picks-indicator.not-drawn-yet-with-generated-picks.not-selected {
  background-color: $chucksPick3Yellow;
}

.generated-picks-indicator.drawn-with-generated-picks-with-winners {
  background-color: $chucksPick3Green;
}

.generated-picks-indicator.drawn-with-generated-picks-with-winners.selected {
  background-color: $chucksPick3Green;
  width: 32%;
}
