<div class="sign-up-confirmation">
<div class="container d-flex sign-up-card justify-content-center align-items-center">
  <div class=" text-center align-items-center card  m-5 p-5">
    <img class="confirmation-icon" src="../../../assets/images/menuIcons/sign-up-confirmation.svg">
    <h1><b>You're On The List!</b></h1>
    We look forward to presenting you the best lotto experience around.<br> Stay tuned for any notifications and releases!
    <hr>

    <p><a class="btn sign-up-btn btn-sm" [routerLink]="'/home'"
          routerLinkActive="active"
          role="button">
      Continue to Home
    </a>
    </p>
  </div>
</div>
</div>
