.draw-time-icon {
  display: inline-block;
  width: 40%;
  height: 100%;
  border: 1px solid red;
}

.draw-time-title {
  display: inline-block;
  width: 60%;
  height: 100%;
  border: 1px solid green;
  line-height: 67px;
}

.generated-picks-indicator {
  display: inline-block;
  border: 1px solid blue;
  width: 8%;
  height: 100%;
  line-height: 3em;
  float: right;
}
