<div style="display: flex">
  <div class="draw-time-icon">
    <span *ngIf="!data.getIcon()">[icon here]</span>
    <ion-icon *ngIf="data.getIcon()" src="/assets/icon/{{data.getIcon()}}.svg" [ngClass]="getSelectedState()" class="time-of-day-icon"></ion-icon>
  </div>
  <div class="draw-time-title" align="left">&nbsp;
    <span  class="time-of-day-text" [ngClass]="getSelectedState()">
      {{data.getTitle()}}
    </span>
    <div class="generated-picks-indicator" [ngClass]="drawingTimeCardColorIndicators"></div>
  </div>
</div>

