@import "../../../breakpoints";

.draw-time-icon {
  display: inline-block;
  width: 40%;
  border: 1px solid green;



  > ion-icon.selected {
    color: #1c1c1d;
  }

  > ion-icon.not-selected {
    color: #d7d7d7;
  }
}



.time-of-day-text {
  text-align: center;
  vertical-align: middle;
  font-size: 7vw;
  font-weight: 500;
}
.draw-time-title {
  display: inline-block;
  width: 60%;
  border: 1px solid red;

  > span.not-selected {
    color: #d7d7d7;
  }

  > span.selected {
    color: #353535;
  }
}

.generated-picks-indicator {
  display: inline-block;
  border: 1px solid blue;
  width: 8%;
  line-height: 3em;
  float: right;
  background-color: #d7d7d7;
}

.generated-picks-indicator.not-drawn-yet,
.generated-picks-indicator.drawn,
.generated-picks-indicator.drawn-with-generated-picks-with-no-winners {
  background-color: #d7d7d7;
}
.generated-picks-indicator.drawn.selected,
.generated-picks-indicator.not-drawn-yet.selected,
.generated-picks-indicator.not-drawn.selected,
.generated-picks-indicator.drawn-with-generated-picks-with-no-winners.selected {
  background-color: #353535;
  width: 16%;
}

.generated-picks-indicator.not-drawn-yet-with-generated-picks {
  background-color: #ffd743;
}

.generated-picks-indicator.not-drawn-yet-with-generated-picks.selected {
  background-color: #ffd743;
  width: 16%;
}

.generated-picks-indicator.drawn-with-generated-picks-with-winners {
  background-color: #2dd36f;
}

.generated-picks-indicator.drawn-with-generated-picks-with-winners.selected {
  background-color: #2dd36f;
  width: 16%;
}


