.draw-time-icon {
  display: inline-block;
  width: 40%;
  height: 100vh;
  border: 1px solid red;
  line-height: 4em;


  > ion-icon.selected {
    color: black;
  }

  > ion-icon.not-selected {
    color: #d7d7d7;
  }
}

.time-of-day-icon {
  font-size: 32px;
}

.draw-time-title {
  display: inline-block;
  width: 60%;
  height: 12vh;
  border: 1px solid green;
  line-height: 67px;

  > span.not-selected {
    color: #d7d7d7;
  }

  > span.selected {
    color: black;
  }
}

.generated-picks-indicator {
  display: inline-block;
  border: 1px solid blue;
  width: 8%;
  height: 100%;
  line-height: 3em;
  float: right;
  background-color: #d7d7d7;
}

.generated-picks-indicator.not-drawn-yet,
.generated-picks-indicator.drawn,
.generated-picks-indicator.drawn-with-generated-picks-with-no-winners {
  background-color: #d7d7d7;
}
.generated-picks-indicator.drawn.selected,
.generated-picks-indicator.not-drawn-yet.selected,
.generated-picks-indicator.not-drawn.selected,
.generated-picks-indicator.drawn-with-generated-picks-with-no-winners.selected {
  background-color: black;
  width: 16%;
}

.generated-picks-indicator.not-drawn-yet-with-generated-picks {
  background-color: yellow;
}

.generated-picks-indicator.not-drawn-yet-with-generated-picks.selected {
  background-color: yellow;
  width: 16%;
}

.generated-picks-indicator.drawn-with-generated-picks-with-winners {
  background-color: green;
}

.generated-picks-indicator.drawn-with-generated-picks-with-winners.selected {
  background-color: green;
  width: 16%;
}


