<div class="how-to-header" id="generate">
  <h1><b>{{ 'generate-title' | translate }}</b></h1>
</div>
<div class="how-to-generate">
  <p>{{ 'generate-intro' | translate}}</p>
  <br>
  <img src="/assets/images/generateHome.png" style="height: 60%; width: 20%">
  <br>
  <p>{{ 'generate-instruction-1' | translate}}</p>
  <br>
  <img src="/assets/images/generateSelectTime.png" style="height: 60%; width: 20%">
  <br>
  <p>{{ 'generate-instruction-2' | translate }}</p>
  <br>
  <img src="/assets/images/generate.png"style="height: 60%; width: 20%">
  <br>
  <button type="submit"
          class="btn btn btn-success submit btn-lg btn-block" (click)="goToMobileInterface()">
    {{ 'generate-btn' | translate }}
  </button>
  <br>

</div>
<div class="generate-mobile">
<p>{{ 'generate-intro' | translate}}</p>
  <br>
  <img src="/assets/images/generateHome.png">
  <br>
  <p>{{ 'generate-instruction-1' | translate}}</p>
  <br>
  <img src="/assets/images/generateSelectTime.png" >
  <br>
  <p>{{ 'generate-instruction-2' | translate }}</p>
  <br>
  <img src="/assets/images/generate.png">
  <button type="submit"
          class="btn btn btn-success submit btn-lg btn-block" (click)="goToMobileInterface()">
    {{ 'generate-btn' | translate }}
  </button>
  <br>
  <br>
</div>
