<ion-row class="drawing-time" style="z-index: 99; display: block; height: 70%">
    <div style="height: 50%" id="generate" #generate>
        <div class="generate-options-title">Drawing Date:</div>
        <ion-row class="generate-picks-button-section">
            <ion-col>
                <button #todayDrawingDate class="confirmation-button" style="background-color: #2fdf75"
                        (click)="selectTodayGenerateDrawingDate(todayDrawingDate, tomorrowDrawingDate )">Today
                </button>
            </ion-col>
            <ion-col>
                <button #tomorrowDrawingDate class="confirmation-button"
                        (click)="selectTomorrowGenerateDrawingDate(tomorrowDrawingDate, todayDrawingDate)">Tomorrow
                </button>
            </ion-col>
        </ion-row>
        <div class="generate-options-title">Drawing Time:</div>
        <ion-row class="generate-picks-button-section">
            <ion-item class="ion-no-padding" style="width: 100%;">
                <ion-select class="timeOfDayDropDown" [(ngModel)]="generateChoice" placeholder="Select a Time of Day"
                            style="width: 100%; height: 4.5em; margin-left: 2em; text-align: center;"
                            interface="action-sheet" (ionChange)="null">
                    <ion-select-option *ngFor="let newDrawingTime of newDrawingTimes"
                                       [value]="newDrawingTime"> {{newDrawingTime | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-row>
        <ion-row class="generate-picks-button-section">
            <button class="confirmation-button generate-button" routerLink="/home" (click)="submitGenerate();">
                Generate
            </button>
        </ion-row>
    </div>
</ion-row>
