<div style="color: yellow;font-weight: bold; font-size: 24px;">
    ************************************************
    <h1> Hello World!</h1>
    ********************************
    <ion-grid style="background-color: red;">
        hello2
        <ion-router-outlet name="pick3-draw-date-info-section">
            <pick3-draw-date-info-section></pick3-draw-date-info-section>
        </ion-router-outlet>
        <ion-router-outlet name="pick3-draw-time-info-section">
            <pick3-draw-time-info-section></pick3-draw-time-info-section>
        </ion-router-outlet>
    </ion-grid>
</div>
