<ion-row class="drawing-time" *ngFor="let drawTime of drawTimes">
    <ion-col>
        <!--<pick3-draw-time-card [data]="data" (click)="selectDrawingTimeCard(drawTime)"></pick3-draw-time-card>-->
        <!--<div style="display: flex">
            <div class="draw-time-icon">
                <span *ngIf="!data.getIcon()">[icon here]</span>
                <ion-icon *ngIf="data.getIcon()" src="/assets/icon/{{data.getIcon()}}.svg" [ngClass]="getSelectedState()" class="time-of-day-icon"></ion-icon>
            </div>
            <div class="draw-time-title" align="left">&nbsp;
                <span  class="time-of-day-text" [ngClass]="getSelectedState()">
                  {{data.getTitle() | translate}}
                </span>
                <div class="generated-picks-indicator" [ngClass]="drawingTimeCardColorIndicators"></div>
            </div>
        </div>-->
    </ion-col>
</ion-row>

<!--<div style=" display: block; height: 100%; width: 100%; background: pink">
    <div style="vertical-align: middle"><h1>Child 2</h1></div>
</div>-->
