.copyright {
  color: #5c5c5c;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #1c1c1d;
  padding-top: 5%;

}

.bp-section-header {
  text-decoration: none;
  color: #8c8c8c;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bp-section-text {
  color: #8c8c8c !important;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
.bp-section-mobile {
  background-color: #1c1c1d;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: auto;
  padding-right: auto;

}

.bp-section-sitemap {
  background-color: #1c1c1d;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  text-decoration: none;
}
a b .bp-section-sitemap {
  text-decoration: none;
  color: #8c8c8c !important;
}

.footer-link {
  text-decoration: none;
  color: #8c8c8c !important;
}
