
<div class=" container-fluid copyright">
  <div class="row">

    <div class="col-12 bp-section-header">
      <div class="show-mobile">
        <div class="bp-section-sitemap-mobile">
        <div class="row bp-section-sitemap-links-mobile">
          <div class="col-12 ">
            <a [routerLink]="'/home'" (click)="saveFragment('keyFeaturesMobile')" class="footer-link"><b>Key Features</b></a>
          </div>
        </div>
        <div class="row bp-section-sitemap-links-mobile">
          <div class="col-12">
            <a [routerLink]="'/home'" (click)="saveFragment('howToMobile')"  class="footer-link"><b>How To</b></a>
          </div>
        </div>
        <div class="row bp-section-sitemap-links-mobile">
          <div class="col-12">
            <a [routerLink]="'/home'" (click)="saveFragment('demoMobile');" class="footer-link"><b>Try It</b></a>
          </div>
        </div>
        <div class="row  bp-section-sitemap-links-mobile">
          <div class="col-12">
            <a [routerLink]="['/sign-up']" (click)="backToTop()" class="footer-link"><b>Sign Up</b></a>
          </div>
        </div>
        </div>
      </div>
      <div class="show-desktop">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2 bp-section-sitemap">
          <a [routerLink]="'/home'" (click)="saveFragment('keyFeaturesDesktop')"  class="footer-link"><b>Key Features</b></a>
        </div>
        <div class="col-2 bp-section-sitemap">
          <a [routerLink]="'/home'" (click)="saveFragment('howToDesktop')"  class="footer-link"><b>How To</b></a>
        </div>
        <div class="col-2 bp-section-sitemap">
          <a [routerLink]="'/home'" (click)="saveFragment('demoDesktop');"  class="footer-link"><b>Try It</b></a>
        </div>
        <div class="col-2 bp-section-sitemap">
          <a [routerLink]="['/sign-up']"  (click)="backToTop()" class="footer-link"><b>Sign Up</b></a>
        </div>
        <div class="col-2"></div>
    </div>
      </div>
      <div class="show-tablet">
        <div class="row" style="margin-bottom: 5%">
          <div class="col-3 bp-section-sitemap">
            <a [routerLink]="'/home'" (click)="saveFragment('keyFeaturesDesktop')"  class="footer-link"><b>Key Features</b></a>
          </div>
          <div class="col-3 bp-section-sitemap">
            <a [routerLink]="'/home'" (click)="saveFragment('howToDesktop')"  class="footer-link"><b>How To</b></a>
          </div>
          <div class="col-3 bp-section-sitemap">
            <a [routerLink]="'/home'" (click)="saveFragment('demoDesktop');"  class="footer-link"><b>Try It</b></a>
          </div>
          <div class="col-3 bp-section-sitemap">
            <a [routerLink]="['/sign-up']"  (click)="backToTop()" class="footer-link" ><b>Sign Up</b></a>
          </div>
        </div>
      </div>
<div class="row">
  <a class="bp-section-text" href="{{bytePushersUrl}}" style="text-decoration: none">
    <h6>Powered By:</h6>
    <h4>BytePushers Inc</h4>
  </a>
  </div>
  <div class="row">
  <p class="col-12 copyright"> Copyright &#169; 2020 BytePushers Inc.</p>
  </div>
</div>
  </div>
</div>
