.copyright {
  color: #5c5c5c;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #1c1c1d;
  padding-top: 5%;

}

.bp-section-header {
  text-decoration: none;
  color: #8c8c8c;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bp-section-text {
  color: #8c8c8c !important;
  text-decoration: none;
}
