
<div class=" container-fluid copyright">
  <div class="row">

    <div class="col-12 bp-section-header">
      <div class="hidden-desktop hide-on-tablet hidden-desktop ">
        <div class="row bp-section-sitemap">
          <div class="col-12 ">
            <a><b>Key Features</b></a>
          </div>
        </div>
        <div class="row bp-section-sitemap">
          <div class="col-12">
            <a><b>How To</b></a>
          </div>
        </div>
        <div class="row bp-section-sitemap">
          <div class="col-12">
            <a><b>Demo</b></a>
          </div>
        </div>
        <div class="row  bp-section-sitemap">
          <div class="col-12">
            <a><b>Sign Up</b></a>
          </div>
        </div>
      </div>
      <div class="hidden-mobile ">
      <div class="row" style="margin-bottom: 5%">
        <div class="col-3 bp-section-sitemap">
          <a><b>Key Features</b></a>
        </div>
        <div class="col-3 bp-section-sitemap">
          <a><b>How To</b></a>
        </div>
        <div class="col-3 bp-section-sitemap">
          <a><b>Demo</b></a>
        </div>
        <div class="col-3 bp-section-sitemap">
          <a><b>Sign Up</b></a>
        </div>
    </div>
      </div>
<div class="row">
  <a class="bp-section-text" href="https://www.bytepushers.io/home" style="text-decoration: none">
    <h6>Powered By:</h6>
    <h4>BytePushers Inc</h4>
  </a>
  </div>
  <div class="row">
  <p class="col-12 copyright"> Copyright &#169; 2020 BytePushers Inc.</p>
  </div>
</div>
