
<div class="body-container">
<div class="how-to-section" id="requirements" >

  <div class="what-you-need">


    <H2 style="margin-top: 30px" >Requirements:</H2>

    <img src="/assets/images/Info page -11.png" alt="IPhone" style="width:700px">
  </div>

  <div class="interface" id="interface">
    <H2 style="margin-top: 10px">Interface:</H2>
 <img src="/assets/images/Info page -04.png" alt="Interface" style="width:700px" align="middle">
  </div>
  <br>
  <br>
  <div class="interface">
<img src="/assets/images/Info page -15.png" alt="Interface" style="width:700px" align="middle">
  </div>
  <div class="how-to-generate" id="generate">
    <H2  >How to Generate Picks:</H2>
   <img src="/assets/images/Info page -12.png" alt="Generate" style="width:700px" align="center">
  </div>

  <div class="how-to-generate">
  <img src="/assets/images/Info page -13.png" alt="Generate" style="width:700px" align="center">
  </div>
  <div class="how-to-view" id="generated-picks">
    <H2 >How to View Generated Picks:</H2>
 <img src="/assets/images/Info page -14.png" alt="ViewGenerated" style="width:700px" align="center">
  </div>
</div>

</div>
