<!--<div class="sub-nav-bar-title-container">
  <div><span><b>How To Play</b></span></div>
</div>-->
<!--<div class="sub-nav-bar-container">
  <div class="sub-nav-bar-col-25">
    <span>&nbsp;</span>
  </div>

  <div class="sub-nav-bar-col-25">
    <div id="sub-nav-bar-item-require" onClick="document.location='#requirements';
                        setSubNavBarItemActive(this.id);"
         class="sub-nav-bar-col-50 allow-hover ">
      <a href="#requirements">Requirements</a>
    </div>

    <div id="sub-nav-bar-item-inter"
         onClick="document.location='#interface'; setSubNavBarItemActive(this.id);"
         class="sub-nav-bar-col-50 allow-hover ">
      <a href="#interface">Interface</a>
    </div>
  </div>

  <div class="sub-nav-bar-col-25">
    <div id="sub-nav-bar-item-generate"
         onClick="document.location='#generate';  setSubNavBarItemActive(this.id);"
         class="sub-nav-bar-col-50 allow-hover">
      <a href="#generate">Generate</a>
    </div>

    <div id="sub-nav-bar-item-generate-pic" onClick="document.location='#generated-picks';
                        setSubNavBarItemActive(this.id);"
         class="sub-nav-bar-col-50 allow-hover">
      <a href="#generated-picks">View Picks</a>
    </div>
  </div>

  <div class="sub-nav-bar-col-25 ">
    <span>&nbsp;</span>
  </div>
</div>-->
<div class="body-container">
<div class="how-to-section" id="requirements" >

  <div class="what-you-need">


    <H2 style="margin-top: 30px" >Requirements:</H2>

    <!--<img src="assets/img/Info page -11.png" alt="IPhone" style="width:700px">-->
  </div>

  <div class="interface" id="interface">
    <H2 style="margin-top: 10px">Interface:</H2>
 <!--   <img src="assets/img/Info page -04.png" alt="Interface" style="width:700px" align="middle">-->
  </div>
  <br>
  <br>
  <div class="interface">
<!--    <img src="assets/img/Info page -15.png" alt="Interface" style="width:700px" align="middle">-->
  </div>
  <div class="how-to-generate" id="generate">
    <H2  >How to Generate Picks:</H2>
   <!-- <img src="assets/img/Info page -12.png" alt="Generate" style="width:700px" align="center">-->
  </div>

  <div class="how-to-generate">
    <!--<img src="assets/img/Info page -13.png" alt="Generate" style="width:700px" align="center">-->
  </div>
  <div class="how-to-view" id="generated-picks">
    <H2 >How to View Generated Picks:</H2>
 <!--   <img src="assets/img/Info page -14.png" alt="ViewGenerated" style="width:700px" align="center">-->
  </div>
</div>

</div>
