<div class="how-to-header" id="generated-picks">
  <h1><b>{{ 'view-title' | translate }}</b></h1>
</div>

<div class="how-to-view">
  <p>{{ 'view-introduction' | translate }}</p>
  <br>
  <img src="/assets/images/viewHome.png" style="height: 60%; width: 20%">
  <br>
  <p>{{ 'view-instruction-1' | translate }}</p>
  <br>
  <img src="/assets/images/viewScreen.png" style="height: 60%; width: 20%">
</div>

<div class="view-mobile">
  <h2>{{ 'view-title' | translate }}</h2>
  <p>{{ 'view-introduction' | translate }}</p>
  <br>
  <img src="/assets/images/viewHome.png">
  <br>
  <p>{{ 'view-instruction-1' | translate }}</p>
  <br>
  <img src="/assets/images/viewScreen.png">
  <button type="submit"
          class="btn btn btn-success submit btn-lg btn-block" (click)="goToMobileInterface()">
    {{'view-btn' | translate }}
  </button>
  <br>
  <br>
</div>
