@import "../../../breakpoints";
ion-grid {
  height: 100%;
  padding: 0px;

  ion-row.primary-view {
    height: 50%;
    border: 1px solid white;
  }

  ion-row.drawing-time {
    height: 12.5%;
    border: 1px solid darkgray;

    ion-col {
      padding: 0px;
    }
  }

}

.draw-date-text {
  color: #FFFFFF;
}

.scroll-content{overflow-y: hidden;}

.dot {
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  color: black;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bold;

  @include for-size(iPhone5-SE) {
    height: 40px;
    width: 40px;
  }


}
.generate-picks-icon {
  fill: #FFFFFF;
  height: 90%;
  width: 90%;
  stroke: #FFFFFF;
  stroke-width: 5px;
  margin-top: 10vh;

  @include for-size(iPhone5-SE) {
    height: 80%;
    width: 80%;
  }


}
.view-picks-icon {
  fill: #FFFFFF;
  height: 90%;
  width: 90%;
  stroke: #FFFFFF;
  stroke-width: 5px;
  margin-top: 13vh;



}
.picks-indicator {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: -3em;
  right: -2em;

  @include  for-size(iPhone5-SE) {
    bottom: -25vh;
    right: -1.5em;

  }
  @include  for-size(iPhoneX) {
    bottom: -28vh;
    right: -1.9em;
  }
  @include  for-size(iPhone6-7-8) {
    bottom: -27.6vh;
    right: -1.9em;
  }
  @include for-size(iPhone6-7-8-Plus) {
    bottom: -27.5vh;
    right: -2.3em;
  }
}

.picks-indicator.not-drawn-yet,
.picks-indicator.drawn,
.picks-indicator.drawn-with-generated-picks-with-no-winners {
  background-color: #d7d7d7;
}
.picks-indicator.drawn.selected,
.picks-indicator.not-drawn-yet.selected,
.picks-indicator.not-drawn.selected,
.picks-indicator.drawn-with-generated-picks-with-no-winners.selected {
  background-color: black;
  width: 16%;
}

.indicator.not-drawn-yet-with-generated-picks {
  background-color: yellow;
}

.picks-indicator.not-drawn-yet-with-generated-picks.selected {
  background-color: yellow;
  width: 16%;
}

.picks-indicator.drawn-with-generated-picks-with-winners {
  background-color: green;
}

.picks-indicator.drawn-with-generated-picks-with-winners.selected {
  background-color: green;
  width: 16%;
}


