<ion-grid>
  <ion-row class="primary-view" [style.background]="'url(' + data.getBackgroundImage() + ')'">
    <ion-col>
      <span style="font-size: 1.5em;font-weight: bolder;">{{data.getDrawState()}} {{data.getTitle()}}</span><br><br>
      <span style="font-size: 1.25em;font-weight: 500;">{{data.getDrawTime()}}</span><br><br>
      <span style="font-size: 1.0em;font-weight: bold;">{{data.getDrawDate() | date}}</span><br><br>
      <div style="display: inline" *ngIf="showCountDownToDrawing === false">
        <span class="dot">2</span>
        <span class="dot">9</span>
        <span class="dot">0</span>
      </div>
      <div style="display: inline" *ngIf="showCountDownToDrawing === true">
        <countdown-timer [end]="data.getDrawDate()"></countdown-timer>
      </div>
      <p>{{slideNumber}}</p>
    </ion-col>
  </ion-row>
  <ion-row class="drawing-time" *ngFor="let drawTime of drawTimes">
    <ion-col>
      <pick3-draw-time-card [data]="drawTime"></pick3-draw-time-card>
    </ion-col>
  </ion-row>
</ion-grid>
