/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* SCSS styling for app */
@import "../src/scss/app-icons"; /* For Icons */
@import "../src/scss/draw-time-cards";
@import "../src/scss/app-ui";

@import "~swiper/scss";
@import "~swiper/scss/navigation";
@import "~swiper/scss/pagination";

.results-not-available {
  --background: #ffd743;
  font-weight: 200;
  position: fixed;
  top: 3em;
}

.internet-not-available {
  --background: #f32d3e;
  font-weight: 200;
  position: fixed;
  top: 3em;
}

.winner-available {
  --background: $chucksPick3Green;
  font-weight: 200;
  position: fixed;
  top: 3em;
}

ion-toast::part(button) {
  --button-color: #1b1e21 !important;
  --color: #1b1e21 !important;
}
