<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!--ion-content>
  <ion-list-->
    <!--<button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item.type }}
    </button>-->
    <!--ion-item *ngFor="let item of items" class="item item-text-wrap">
      <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'" (click)="itemSelected(item)">
        <h2>{{ item.type }} Winning Number</h2>
        <p>{{ item.winningNumber }}</p>
      </div-->
      <!--<div ng-click="toggleItem(item)" class="item-expand-footer">
        <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
        {{ isGroupShown(item) ? 'Less' : 'More' }}
      </div>-->
    <!--/ion-item>
  </ion-list>
</ion-content-->



  <ion-content scroll="false">
    <section class="home-container">

      <div class="row header">

        <div class="col text-center">
          [LOGO / HEADER]
        </div>

      </div>

      <div class="row icon-row" *ngFor="let item of items" (click)="itemSelected(item)">

        <div class="col text-center">
          <div>{{ item.type }} Winning Number</div>
          <div>{{ item.winningNumber }}</div>
        </div>

      </div>
    </section>

  </ion-content>
