<ion-app>
  <ion-menu menuId="lang-menu" contentId="main" side="start" type="push">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label>English</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label>Spanish</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-menu menuId="main-menu" contentId="main" side="end" type="push">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Inbox</ion-label>
      </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
  <ion-content class="ion-padding">
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">

        <ion-icon class="toolbar-icon" src="/assets/icon/home-icon.svg"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-app>
