<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="main-content container-fluid">
<form  class="needs-validation"  #logInForm="ngForm" novalidate>
  <div class="row">
    <div class=" col-xl-5 mx-auto text-left">
      <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
      <h1>Login</h1>
      <br>
      <br>
      <div class="info-form">
        <div class="form-row">
          <label for="UserName">Username</label>
          <input id="UserName"
                 name="userName"
                 #userName="ngModel"
                 type="text"
                 class="form-control" placeholder="User Name"
                 required
                 ngModel
          spaceValidator
                 userNameValidator>
          <div class="alert alert-danger" *ngIf="userName.errors && (userName.dirty || userName.touched)">
            <div *ngIf="userName.errors.required">- User name is required.</div>
            <div *ngIf="userName.errors.spaceValidator">- Remove spaces in user name.</div>
            <div *ngIf="userName.errors.userNameValidator">- User name may only contain alphabetical and numerical characters. </div>
          </div>
        </div>
        <br>
        <!-- Password -->
        <div class="form-row">
          <label for="password">Password</label>
          <input  id="password"
                  name="password"
                  #password="ngModel"
            type="password"
                  minlength="6"
                  maxlength="25"
                  class="form-control" placeholder="Password"
                  ngModel
                 required
          passwordValidator>
          <div class="alert alert-danger" *ngIf="password.errors && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">- Password is required.</div>
            <div *ngIf="password.errors.passwordValidator">- Password is not valid.</div>
            <div *ngIf="password.errors.minlength">- Password does not meet minimum characters.</div>
          </div>
          <br>
          <br>
          <br>
          <div class="mobile-space"></div>
          <button type="submit" value='submit' [disabled]="!logInForm.form.valid" (click)="onSubmit()"
                  class="btn btn btn-success btn-lg btn-block">Submit
          </button>

          <br>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<br>
<div class="footer"></div>
<br>
