<div class="customer-title-section">
  <h1><b>Customer Summary</b></h1>
</div>
<div class="form-row options">
  <div class="form-col campaign">
    <label for="emailCampaign">Email Campaign</label>
    <label for="emailCampaign"></label>
    <select #dropDownEmailCampaign="ngModel"
            name="dropDownHowOftenName"
            class="custom-select" id="emailCampaign"
            required
            ngModel>
      <option value="" selected>No option selected</option>
      <option value="Often">Option 1</option>
      <option value="Sometimes">Option 2</option>
      <option value="Never">Option 3</option>
    </select>
  </div>
  <div class="buttons">
    <div class="col-sm">
      <button type="button"
              class="btn btn add btn-success btn-sm btn-block" (click)="addRow()">
        Add
      </button>
    </div>
    <div class="col-sm">
      <button type="button"
              class="btn btn add btn-danger btn-sm btn-block" (click)="deleteSelected()">
        Delete All
      </button>
    </div>
  </div>
</div>
<table class="table table-striped" id="table">
  <thead class="table-width">
  <tr>
    <th scope="col" class="th-width"><!--checkbox--></th>
    <th scope="col" class="th-width">First Name</th>
    <th scope="col" class="th-width">Last Name</th>
    <th scope="col" class="th-width">Email</th>
    <th scope="col" class="th-width">Phone</th>
    <th scope="col" class="th-width">City</th>
    <th scope="col" class="th-width">State</th>
    <th scope="col" class="th-width">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let customer of customers">
    <th scope="col">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" id="{{customer.id}}" (click)="selectCustomer($event)">
        </label>
      </div>
    </th>
    <th scope="col" class="th-width">{{customer.firstName}}</th>
    <th scope="col" class="th-width">{{customer.lastName}}</th>
    <th scope="col" class="th-width">{{customer.email}}</th>
    <th scope="col" class="th-width" style="font-size: x-small; padding-top: 12px">{{customer.phone}}</th>
    <th scope="col" class="th-width">{{customer.city}}</th>
    <th scope="col" class="th-width">{{customer.state}}</th>
    <th scope="col" class="th-width">
      <button type="button"
              class="btn btn  btn-danger btn-xs btn-block" (click)="deleteRow(customer)" >
        Delete
      </button>
    </th>
  </tr>
  </tbody>

</table>

