.hero-area {
  background-color: #1c1c1d;
  width: 100%;
  height: 500px;
  text-align: center;
}

.header-text-content{
  padding: 100px 25px 15px;
  color: white;
  align-content: center;
}

.header-text{
  padding-left: 5%;
  padding-right: 5%;
}

.text-emphasis {
  color: #2dd36f;
}

.header-btn {
 background-color: #2dd36f;
}

.hr
