.hero-area-mobile {
  background-color: #1c1c1d;
  width: 100%;
  height: auto;
}

.hero-area {
  background-color: #1c1c1d;
  width: 100%;
  height: auto;
  padding-top: 2em;
}

.header-text-content-mobile {
  padding: 100px 25px 15px;
  color: white;
  align-content: center;
}

.header-text-mobile {
  margin-top: 25vh;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 25vh;
}

.header-text {
  text-align: left;
  color: white;
}

.header-paragraph {
  font-size: 22px;
  color: white;
  text-align: center;
}

.text-emphasis {
  color: #2dd36f;
}

.header-btn {
  background-color: #2dd36f;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;


}

.sign-up-btn {
  background-color: #2dd36f;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.demo-btn {
  background-color: #2dd36f;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.header-ball {
  width: 100%;
  z-index: 10;
}

.header-ball-back {
  width: 100%;
  z-index: 1;
}

.hero-image-mobile {
  width: 100%;
  height: 15vh;
  text-align: center;


}

.header-image-section-mobile {
  height: auto;
  width: 13em;
  z-index: 11;
  margin-left: auto;

}

.header-image-section{
  height: auto;
  z-index: 11;
  margin-left: auto;

}

.header-iphone-mobile {
  height: 100px;
  width: 200px;

}

.features-header {
  text-align: left;
  padding-left: .6em;
  font-weight: 700;
}

.how-to-section-mobile {
  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: 3em;
  margin-bottom: 3em;

}

.bp-section-header {

  color: #8c8c8c;

}

.bp-section-sitemap {
  color: #8c8c8c;

}

.bp-section {
   background-color: #1c1c1d;
   padding-top: 5%;
   padding-bottom: 5%;

 }

h1 {
  font-weight: 700;
  text-align: center;
  color: #1b1e21;
  font-family: "Lato" !important;
}

.features-section-mobile {
  background-color: #2dd36f;
  padding-bottom: 10%;
}

.intro-section-mobile {
  margin-top: 15em;
  margin-bottom: 3em;
}

.try-it-section-mobile {
  background-color: #e7e7e7;
  padding-top: 3em;
  padding-bottom: 3em;
}

.features-card-mobile {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sign-up-section-mobile {
  background-color: #ffd743;
  padding-bottom: 3em;
  padding-top: 3em;
  vertical-align: middle;
}
/*
------------Desktop--------------------*/

.intro-section {
  margin-top: 7%;
  margin-bottom: 5%;
}

.features-section {
  background-color: #2dd36f;
  padding-top: 5%;
  padding-bottom: 5%;
  vertical-align: middle;

}

.features-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}


.features-card-tablet {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2em;
}

.sign-up-section {
  background-color: #ffd743;
  padding-top: 5%;
  padding-bottom: 5%;
  vertical-align: middle;
}


.how-to-section {
  padding-top: 3%;
  vertical-align: middle;
  background-color: #353535;
}

.mobile-img {
  margin-bottom: 1em;
}

.try-it-out-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

.try-it-out-image-tablet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 11.5em;
}

.try-it-out-image-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
.try-it-section {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  vertical-align: middle;
}


.activeFeatureButton {
  background-color: #2dd36f;
  background-size: 50px, 130px, auto;
}


.how-to-title {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #8c8c8c;
  cursor: pointer;
  font-size: 28px;
}

.activeHowTo, .how-to-title:hover {
  color: #2dd36f;
  text-decoration: #2dd36f;
}

.how-to-section-info {
  opacity: 1;
  animation: fade .5s linear;
  margin-top: auto;
  margin-bottom: auto;
}

.how-to-title-text {
  margin-top: 1em;

  font-weight: bold;
}

.how-to-text {
  margin-top: auto;
  margin-bottom: auto;
}


@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.how-to-image {
  height: auto;
  width: 25vw;
}

.how-to-list {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.how-to-paragraph-title {
  font-weight: bolder;
  font-size: 2.7em;
  color: white;
  text-align: left;
}

.how-to-paragraph {
  color: white;
  font-size: 12px;
}

.circle-stack {
  position: absolute;
  left: 10px;
  width: 99px;
  height: 50px;

}

.circle-sm {
  width: 6.2px;
  height: 6.2px;
  border-radius: 50%;
  background: #2dd36f;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}

.circle-md {
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background: #2dd36f;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}

.circle-lg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2dd36f;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}

.circle-intro {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2dd36f;
  z-index: 9;
  margin-top: -10px;
  margin-left: 20.5vw;
  position: absolute;
}


.section-header {
  text-align: left;
}

h1 {
  font-size: 2.7em;
}
