<div id="homePage">
  <div id="hero-mobile" class="hero-area-mobile hidden-desktop">

    <div class="header-text-content-mobile">
      <div class="header-text-mobile">
        <h1 style="color: #FFFFFF">Your Game,<br><b class="text-emphasis">Our Luck</b></h1>
      </div>
      <div class="header-paragraph">
        Play your state's pick 3 lotto game and create your own luck. Avialable only on Chuck's Pick 3 App soon.
      </div>
      <button class="btn header-btn"><b>Sign Up To Get Notified</b></button>
    </div>
    <div class="header-image-section-mobile">
      <div class=" row header-iphone-mobile ">
        <div class="row">
          <img src="../../../assets/images/view-screen-image.png">
        </div>
      </div>
    </div>
  </div>


  <div class="intro-section-mobile container hidden-desktop">
    <div class="row">
      <div class="col-12" style="margin-top: 25%; margin-bottom: 10%">
        <h1>The Game Has Changed</h1>
      </div>
      <div class="col-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
          tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
          venenatis gravida. In non velit at felis iaculis dignissim nec sed lectus. Integer dignissim tempor risus ac
          blandit. </p>
      </div>
    </div>
  </div>

  <div class="container features-section-mobile hidden-desktop">
    <div class="row">
      <div class="col-12" style="margin-top: 15%; margin-bottom: 7%">
        <h1> Key Features</h1>
      </div>
      <div class="co-l2 card features-card-mobile">

        <div
          style="height: 70px; width: 70px; background-image: url('../../../assets/images/cp3WebIconsView.svg'); margin-top: 10%; margin-left: 4%; margin-bottom: 5%"></div>
        <div class="card-title">
          <h3 class="features-header">View Winning Picks</h3>
        </div>
        <div class="card-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
          semper. Nullam lacinia
          tincidunt lectus vel volutpat.</p></div>
      </div>
      <div class="co-l2 card features-card-mobile"
      >

        <div
          style="height: 70px; width: 70px; background-image: url('../../../assets/images/cp3WebIconsGenerate.svg'); margin-top: 10%; margin-left: 4%; margin-bottom: 5%"></div>
        <div class="card-title">
          <h3 class="features-header">Generate Picks</h3>
        </div>
        <div class="card-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
          semper. Nullam lacinia
          tincidunt lectus vel volutpat.</p></div>
      </div>
      <div class="co-l2 card features-card-mobile">
        <div
          style="height: 70px; width: 70px; background-image: url('../../../assets/images/cp3WebIconsHistory.svg'); margin-top: 10%; margin-left: 4%; margin-bottom: 5%"></div>
        <div class="card-title">
          <h3 class="features-header">View Past Picks</h3>
        </div>
        <div class="card-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
          semper. Nullam lacinia
          tincidunt lectus vel volutpat.</p></div>
      </div>

    </div>

  </div>

  <div class="container how-to-section-mobile hidden-desktop">
    <div class="row">
      <div class="col-12 " style="margin-top: 15%; margin-bottom: 10%">
        <h1> How To Use</h1>
      </div>
      <div class="col-12 " style="border-bottom: #606060 solid 1px">
        <h4 class="how-to-paragraph-title" style="margin-top: 3%;">1. View Draw Times</h4>
        <p class="how-to-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
          semper. Nullam lacinia
          tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
          venenatis gravida.</p>
      </div>
      <div class="col-12" style="border-bottom: #606060 solid 1px">
        <h4 class="how-to-paragraph-title" style="margin-top: 3%;">2. Generate Your Numbers</h4>
        <p class="how-to-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
          semper. Nullam lacinia
          tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
          venenatis gravida.</p>
      </div>
      <div class="col-12" style="border-bottom: #606060 solid 1px">
        <h4 class="how-to-paragraph-title" style="margin-top: 3%;">3. Write Them In!</h4>
        <p class="how-to-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
          semper. Nullam lacinia
          tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
          venenatis gravida.</p>
      </div>
    </div>
  </div>

  <div class="container try-it-section-mobile hidden-desktop">
    <div class="row">
      <div class="col-12" style="margin-top: 15%; ">
        <h1>Try It Out</h1>
      </div>
      <div class="col-12" style="text-align: center">
        <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
          semper. Nullam lacinia
          tincidunt lectus vel volutpat. </p>
      </div>
      <div class=" col-9" style="margin-bottom: 20%;  margin-right: auto; margin-left:auto;">
        <button class="btn demo-btn"><b>Demo</b></button>

      </div>
    </div>
  </div>

  <div class="container sign-up-section hidden-desktop">
    <div class="row" style="background-color: #ffd743;">
      <div class="col-3">

      </div>
      <div class="col-12" style="margin-top: 15%; margin-bottom: 10%;">
        <h1>Stay Connected!</h1>
      </div>
      <div class="col-12">
        <p style="text-align: center">Sign up to find out when Chuck's Pick 3 will be released and get notified of any
          updates. </p>
      </div>
      <div class=" col-9" style="margin-bottom: 20%;  margin-right: auto; margin-left:auto;">
        <button class="btn sign-up-btn"><b>Sign Up</b></button>

      </div>
    </div>
  </div>

  <div class="container hidden-desktop">
    <div class="row bp-section">
      <div class="col-12 bp-section-header">
        <h4>Powered By:</h4>
        <h2>BytePushers Inc</h2>
      </div>
      <div class="col-12 bp-section-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
          tincidunt lectus vel volutpat.</p>
      </div>
    </div>
  </div>

</div>

<div>
  <div id="hero" class="hidden-mobile hidden-mobile-450 hidden-mobile-768 hero-area">
    <div class=" container">
      <div class="row">
        <div class="col-1">

        </div>
        <div class="col-5">
          <div class="header-text-content-mobile">
            <div>
              <h1 class="header-text">Your Game,<br><b class="text-emphasis">Our Luck</b></h1>
            </div>
            <div class="header-paragraph">
              Play your state's pick 3 lotto game and create your own luck. Avialable only on Chuck's Pick 3 App soon.
            </div>
            <button class="btn header-btn"><b class="header-paragraph">Sign Up To Get Notified</b></button>
          </div>
        </div>
        <div class="col-5">
          <div class="header-image-section-mobile">
            <div class=" row " style="height: 500px; width: 200px; margin-right: auto; margin-left: auto;">
              <div class="row">
                <img src="../../../assets/images/cp3%20mock%20up.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-1">

        </div>
      </div>
    </div>
  </div>

  <div class="intro-section hidden-mobile hidden-mobile-450 hidden-mobile-768">
    <div class="container">
      <div class="row">
        <div class="col-12" style=" margin-bottom: 5%">
          <h1>The Game Has Changed</h1>
        </div>
        <div class="col-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
            tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
            venenatis gravida. In non velit at felis iaculis dignissim nec sed lectus. Integer dignissim tempor risus ac
            blandit. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="features-section hidden-mobile hidden-mobile-450 hidden-mobile-768">
    <div class="container" style="padding-left: unset; padding-right: unset; margin-left: auto; margin-right: auto">
      <div class="row">
        <div class="col-12" style="margin-top: 15%; margin-bottom: 7%">
          <h1> Key Features</h1>
        </div>
      </div>
      <div class="row" style="align-items: center">
<div class="col-1"></div>
        <div class="col-3 card features-card">

          <div
            style="height: 70px; width: 70px; background-image: url('../../../assets/images/cp3WebIconsGenerate.svg'); margin-top: 10%; margin-left: 4%; margin-bottom: 5%"></div>
          <div class="card-title">
            <h3 class="features-header">Generate Picks</h3>
          </div>
          <div class="card-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
            semper. Nullam lacinia
            tincidunt lectus vel volutpat.</p></div>
        </div>
        <div class="col-3 card features-card">

          <div
            style="height: 70px; width: 70px; background-image: url('../../../assets/images/cp3WebIconsGenerate.svg'); margin-top: 10%; margin-left: 4%; margin-bottom: 5%"></div>
          <div class="card-title">
            <h3 class="features-header">Generate Picks</h3>
          </div>
          <div class="card-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
            semper. Nullam lacinia
            tincidunt lectus vel volutpat.</p></div>
        </div>
        <div class="col-3 card features-card">
          <div
            style="height: 70px; width: 70px; background-image: url('../../../assets/images/cp3WebIconsHistory.svg'); margin-top: 10%; margin-left: 4%; margin-bottom: 5%"></div>
          <div class="card-title">
            <h3 class="features-header">View Past Picks</h3>
          </div>
          <div class="card-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
            semper. Nullam lacinia
            tincidunt lectus vel volutpat.</p></div>
        </div>
        <div class="col-1"></div>
      </div>


    </div>
  </div>

<div class="how-to-section hidden-mobile hidden-mobile-450 hidden-mobile-768">
  <div class="container">


    <div  class="row">

      <div id="featureButtonSection" class="col-2 how-to-list">
        <div>
<img src="../../../assets/images/dots-up.svg" style="height: 6vh;">
        </div>
        <a id="viewButton" class="how-to-title activeHowTo" (click)="displayFeatureDiv('viewField')"><h4 class="how-to-title-text">View</h4></a>
        <div><span></span></div>
        <a id="generateButton" class="how-to-title" (click)="displayFeatureDiv('generateField');"><h4 class="how-to-title-text">Generate</h4></a>
        <div><span></span></div>
        <a id="writeButton" class="how-to-title" (click)="displayFeatureDiv('writeField')"><h4 class="how-to-title-text">Write</h4></a>
        <div>
          <img src="../../../assets/images/dots-down.svg" style="height: 6vh;">
        </div>
      </div>
    <div class="col-10" >
      <div class="row">
      <div id="viewField" class="col-12 how-to-section-info " >
        <div class="row">
          <div class="col-1">

          </div>
          <div class="col-4">
            <img src="../../../assets/images/view-screen-image.png" class="how-to-image">
          </div>
          <div class="col-7 how-to-text">
            <h1 class="how-to-paragraph-title">View Picks</h1>
            <p class="how-to-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
              semper. Nullam lacinia
              tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
              venenatis gravida.</p>
          </div>
        </div>
      </div>
        <div id="generateField" class="col-12 how-to-section-info " >
          <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
            <img src="../../../assets/images/generate-picks-mock-up.png" class="how-to-image">
            </div>
            <div class="col-7 how-to-text">
              <h1 class="how-to-paragraph-title">Generate Picks</h1>
              <p class="how-to-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
                semper. Nullam lacinia
                tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
                venenatis gravida.</p>
            </div>
          </div>
        </div>
        <div id="writeField" class="col-12 how-to-section-info" >
          <div class="row">
            <div class="col-1">

            </div>
            <div class="col-4">
              <img src="../../../assets/images/write-picks-mock-up.png" class="how-to-image">
            </div>
            <div class="col-7 how-to-text">
              <h1 class="how-to-paragraph-title">Write Them In!</h1>
              <p class="how-to-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
                semper. Nullam lacinia
                tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
                venenatis gravida.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

  <div class="try-it-section hidden-mobile hidden-mobile-450 hidden-mobile-768">
  <div class="container">
    <div class="row">
    <div class="col-6">
   <p>image here</p>
    </div>
      <div class="col-6">
        <div>
          <h1 class="section-header">Try It Out</h1>
        </div>
        <div  style="text-align: left; padding-right: 7vw">
          <p style="text-align: left; font-size: 22px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique
            semper. Nullam lacinia
            tincidunt lectus vel volutpat. </p>
        </div>
        <div class=" col-6" style="  padding: revert">
          <button class="btn demo-btn"><b>Demo</b></button>

        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="sign-up-section hidden-mobile hidden-mobile-450 hidden-mobile-768">
  <div class="container">
    <div class="row">

      <div class="col-12" >
        <h1>Stay Connected!</h1>
      </div>
      <div class="row" style="margin-left: auto; margin-right: auto">
      <div class="col-3">

      </div>
      <div class="col-6">
        <p style="text-align: center; font-size: 22px">Sign up to find out when Chuck's Pick 3 will be released and get notified of any
          updates. </p>
        <button class="btn sign-up-btn"><b>Sign Up</b></button>
      </div>
     <div class="col-3">

     </div>
      </div>
    </div>
  </div>
  </div>

  <div class="bp-section hidden-mobile hidden-mobile-450 hidden-mobile-768">
  <div class="container">
    <div class="row">
      <div class="col-12 bp-section-header">
        <h4>Powered By:</h4>
        <h2>BytePushers Inc</h2>
      </div>
      <div class="col-12 bp-section-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
          tincidunt lectus vel volutpat.</p>
      </div>
    </div>
  </div>
  </div>
</div>

