.hero-area {
  background-color: #1c1c1d;
  width: 100%;
  height: 800px;
  text-align: center;
}

.header-text-content{
  padding: 100px 25px 15px;
  color: white;
  align-content: center;
}

.header-text{
  padding-left: 5%;
  padding-right: 5%;
}

.text-emphasis {
  color: #2dd36f;
}

.header-btn {
 background-color: #2dd36f;
  margin-top: 1em;

}

.header-ball{
  width: 100%;
  z-index: 10;
}
.header-ball-back {
  width: 100%;
  z-index: 1;
}
.header-image {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.features-header {
  text-align: left;
  padding-left: .6em;
}

.how-to-section {
  width: 100%;
  height: 100%;
text-align: left;
  margin-top: 5%;

}

.bp-section-header {
  text-align: left;
}
