@import "src/theme/variables";
@import "src/breakpoints";

#continue {
  display: block;
}

#generate {
  display: none;
}

.generate-options-title {
  height: 10%;
  text-align: center;
  background-color: $chucksPick3Black;
  font-weight: 700;
  color: $chucksPick3White;
  line-height: 2em;

  ion-col {
    padding: 0px;
  }
}

.generate-picks-button-section {
  padding: 0px;
  height: 25%;

  ion-col {
    padding: 0px;
  }
}

ion-select {
  height: 95%;


}

.generate-picks-button {
  width: 100%;
  height: 100%;

  .item-native .item-inner {
    padding: 0px !important;
  }

}

.timeOfDayDropDown {
  width: 100%;
  height: 4.5em;
  margin-left: 2em;
  text-align: center;

  @include for-size(iPhone6-7-8-Plus) {
    height: 5em !important;
  }

  @include for-size(iPhoneX) {
    height: 5.4em !important;
  }
}

.continue-generate-btn {
  height: 5em;
  background-color: #ffd948;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 18px;

  @include for-size(iPhone6-7-8-Plus) {
    height: 5.4em !important;
  }

  @include for-size(iPhoneX) {
    height: 6.1em !important;
  }
}







