<ion-header>
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-button menu="lang-menu" >
        <b class="language" (click)="showPopover($event)" >{{'langSwitch.selectedLanguage' | translate}}</b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill toolbar-icon" viewBox="0 0 16 16">
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button menu="main-menu"><ion-icon class="toolbar-icon" src="/assets/icon/menu.svg"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-row style="height: 50%"></ion-row>
<div style="height: 50%" id="continue">
  <div class="generate-options-title">Previous Drawing Date:</div>
  <ion-row class="generate-picks-button-section">
    <ion-col>
      <button id="yesterdayPreviousDrawingDate" class="generate-picks-button" (click)="selectYesterdayPrevDrawingDate();">Yesterday</button>
    </ion-col>
    <ion-col>
      <button id="todayPreviousDrawingDate" class="generate-picks-button" (click)="selectTodayPrevDrawingDate();" style="background-color: #2fdf75">Today</button>
    </ion-col>
  </ion-row>
  <div class="generate-options-title">Previous Drawing Time:</div>
  <ion-row class="generate-picks-button-section">
    <ion-item class="ion-no-padding" style="width: 100%;" >
      <ion-select class="timeOfDayDropDown"  value="time-of-day" interface="action-sheet" style="width: 100%; height: 4.5em; margin-left: 2em; text-align: center;" [interfaceOptions]="{cssClass: 'remove-select-padding'}">
        <ion-select-option value="enable" >Morning</ion-select-option>
        <ion-select-option value="mute">Day</ion-select-option>
        <ion-select-option value="mute_week">Evening</ion-select-option>
        <ion-select-option value="mute_year">Night</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row class="generate-picks-button-section">
    <button class="generate-picks-button continue-generate-btn"  (click)="continueGenerate()">Continue</button>
  </ion-row>
</div>
<div style="height: 50%" id="generate">
  <div class="generate-options-title">Drawing Date:</div>
  <ion-row class="generate-picks-button-section">
    <ion-col>
      <button id="todayDrawingDate" class="generate-picks-button" (click)="selectTodayDrawingDate()">Today</button>
    </ion-col>
    <ion-col>
      <button id="tomorrowDrawingDate" class="generate-picks-button" (click)="selectTomorrowDrawingDate()" style="background-color: #2fdf75">Tomorrow</button>
    </ion-col>
  </ion-row>
  <div class="generate-options-title">Drawing Time:</div>
  <ion-row class="generate-picks-button-section">
    <ion-item class="ion-no-padding" style="width: 100%;">
      <ion-select class="timeOfDayDropDown" value="time-of-day" interface="action-sheet"  [interfaceOptions]="{cssClass: 'remove-select-padding'}">
        <ion-select-option value="enable" >Morning</ion-select-option>
        <ion-select-option value="mute">Day</ion-select-option>
        <ion-select-option value="mute_week">Evening</ion-select-option>
        <ion-select-option value="mute_year">Night</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row class="generate-picks-button-section">
    <button class="generate-picks-button continue-generate-btn" routerLink="/home" (click)="submitGenerate();">Generate</button>
  </ion-row>
</div>

