.generate-options-title {
  height: 6.25%;
  text-align: center;
  background-color: black;
  font-weight: 700;
  color: white;
  border: 1px solid red;
  line-height: 2em;
  ion-col {
    padding: 0px;
  }
}

.generate-picks-button-section {
  padding: 0px;
  height: 12.5%;
  ion-col {
    padding: 0px;
  }

}

.generate-picks-button {
  width: 100%;
  height: 100%;


}

