<ion-content [fullscreen]="true" class="scroll-content">

  <swiper #pick3DrawDateCards [slidesPerView]="1" style="height: 100%" (slideChange)="initializePick3DrawDateCard($event)"
          (afterInit)="initializePick3DrawDateCards($event)">
    <ng-template swiperSlide>
      <ion-router-outlet name="card-page-1"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet name="card-page-2"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet name="card-page-3"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet name="card-page-4"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet name="card-page-5"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet name="card-page-6"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet name="card-page-7"></ion-router-outlet>
    </ng-template>
  </swiper>

</ion-content>
