<ion-content [fullscreen]="true" class="scroll-content">
  <swiper
    #pick3DrawDateCards
    [initialSlide]="7"
    [slidesPerView]="1"
    style="height: 100%"
    (slideChange)="initializePick3DrawDateCard($event)"
    (afterInit)="initializePick3DrawDateCards($event)"
  >
    <ng-template swiperSlide>
      <ion-router-outlet id="cardPage1" name="card-page-1"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet id="cardPage2" name="card-page-2"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet id="cardPage3" name="card-page-3"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet id="cardPage4" name="card-page-4"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet id="cardPage5" name="card-page-5"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet id="cardPage6" name="card-page-6"></ion-router-outlet>
    </ng-template>
    <ng-template swiperSlide>
      <ion-router-outlet id="cardPage7" name="card-page-7"></ion-router-outlet>
    </ng-template>
  </swiper>
</ion-content>
