<ion-content [fullscreen]="true" class="scroll-content">
  <ion-slides pages [options]="slideOpts">
     <ion-slide style="background-color: white;">
        <card name="card" [eventName]="'MON'" [slideNumber]="1" [data]="pick3DrawDateDecks[0]" [defaultDrawDateTime]="default.drawDateTime"></card>
        <ion-router-outlet name="card-page-1"></ion-router-outlet>
     </ion-slide>
      <ion-slide style="background-color: white;">
          <card name="card" [eventName]="'TUE'"[slideNumber]="2" [data]="pick3DrawDateDecks[1]" [defaultDrawDateTime]="default.drawDateTime"></card>
          <ion-router-outlet name="card-page-2"></ion-router-outlet>
      </ion-slide>
  </ion-slides>



</ion-content>
