
<div class="main-content-container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
    tincidunt lectus vel volutpat. Vivamus vitae urna convallis, aliquet velit at, varius ex. Proin sollicitudin
    venenatis gravida. In non velit at felis iaculis dignissim nec sed lectus. Integer dignissim tempor risus ac
    blandit. Nunc ipsum enim, luctus eget enim sit amet, ultricies fringilla lorem. Nullam sed enim
    pellentesque, ultrices augue in, aliquet erat. Aliquam erat volutpat. Vestibulum bibendum tellus mauris, eu
    sagittis augue pellentesque sit amet. Aliquam ornare ex quis tellus ultrices, ac sodales enim vehicula.
    Suspendisse est nulla, finibus et sapien in, cursus bibendum ipsum.
  </p>
</div>
<div class="link-container">
  <a href="info.html#howto">
    <div class="how-to-container">
      <div class="container-spacing"></div>
      <div class="link-container-img">
        <!--  <img src="assets/img/screens-02.png"  width="410" height="265px">-->
      </div>

      <div class="link-container-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
          tincidunt lectus vel volutpat.</p>
      </div>


    </div>
  </a>
  <a href="info.html">
    <div class="demo-container">

      <div class="link-container-img">
        <!-- <img src="assets/img/screens-01.png"  width="410" height="265px">-->
      </div>
      <div class="link-container-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
          tincidunt lectus vel volutpat.</p>
      </div>
    </div>
  </a>
  <a href="sign-up.html">
    <div class="sign-up-container mobile-container">
      <div class="container-spacing-sign-up"></div>
      <div class="link-container-img-sign-up">
        <!-- <img src="assets/img/screens_Artboard 1-03.png" alt="signUpImg" width="410px" height="265px" style="float:left;margin:21px 0 0 0;">-->
      </div>
      <div class="link-container-text-sign-up">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
          tincidunt lectus vel volutpat.</p>
      </div>
    </div>
  </a>
  </div>




