.main-content-container {

  background-color: white;
  width: 100%;
  min-height: 25%;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  text-align: center;
  display: inline-block;


}
a {
  color: #000000;
  text-decoration: none;
}
.how-to-container {
  background-image: url("/assets/images/screens-04.png");
  background-size: 420px  350px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #BDBDBD;
  width: 33.4%;
  height: 350px;
  text-decoration: none;

  float: left;


}
.link-container {


  width: 100%;
  height: 380px;
  padding-top:30px;
  text-align: center;

}

.demo-container {

  display: inline-block;
  text-decoration: none;
  color: #000;

}

.demo-container {
  display: inline-block;
  background-image: url("/assets/images/screens-04.png");
  background-size: 420px  350px;
  border-top-style: none;
  border-right-style:solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
  width: 33.4%;
  height: 350px;
  border-color: #BDBDBD;
  float: left;
  margin: auto;
}

.link-container-img {
  display: inline-block;
  height: 145px;
  width: 100%;
  float: left;
}

.container-spacing {
  height: 7.3em;
  width: 100%;
  display: inline-block;
  float: left;
}

.link-container-text {
  display: inline-block;
  height: 75px;
  width: 100%;
  float: right;
  padding: 11px;
  font-size: 11px;
  text-decoration: none;
}
.sign-up-container {

  display: inline-block;
  text-decoration: none;
  color: #000;

}


.sign-up-container {
  display: inline-block;
   background-image: url("/assets/images/screens-04.png");
  background-size: 420px  350px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 1px;
  width: 33.2%;
  height: 350px;
  border-color: #BDBDBD;
  float: right;

}

.container-spacing-sign-up {
  height: 6.7em;
  width: 100%;
  display: inline-block;
  float: left;
}

.link-container-img-sign-up {
  display: inline-block;
  height: 150px;
  width: 100%;
  float: left;
}

.link-container-text-sign-up {
  display: inline-block;
  height: 75px;
  width: 100%;
  float: right;
  padding: 17px;
  font-size: 11px;
}
/***** RESPONSIVENESS CONTAINERS*****/
