<div class="customer-title-section">
  <h1><b>Customer Details</b></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="row">David Ocampo</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <th scope="row">Email</th>
  <td>david.ocampo@bytepushers.software</td>
  </tr>
  <tr>
  <th scope="row">Phone</th>
  <td>555-5555</td>
  </tr>
  <tr>
    <th scope="row">city</th>
    <td>Denton</td>
  </tr>
  <tr>
    <th scope="row">state</th>
    <td>Texas</td>
  </tr>
  <tr>
    <th scope="row">How Often?</th>
    <td>Sometimes</td>
  </tr>
  <tr>
    <th scope="row">Type of Phone?</th>
    <td>iPhone</td>
  </tr>
  </tbody>
</table>
