

.details {
  height: 100%;
  width: 100%;
}
.customer-title-section {
  width: 100%;
  height: 30%;
  display: block;
  float: left;
  position: relative;
}
.border-secondary {
  border: 1px solid #dee2e6 !important;
  border-radius: 25px;
}
.campaign {
  display: block;
  width: 8%;
  float: right;
margin-top: 2%;

}
.table {
  position: relative;
  font-size: 13px;
  width: 50%;
  margin: 0 auto;
}
.table td {
  position: relative;
}

.table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.edit {
  float: right;
  margin-left: 3px;
  width: 18%;
  margin-top: 10px;
}
.update {
  float: right;
  margin-left: 3px;
  width: 18%;
  margin-top: 10px;
}



.delete {
  float: right;
  margin-left: 3px;
  width: 18%;
  margin-top: 10px;
}
.back-button {
  width: 10%;
  float: right;
}
.cancel {
  float: right;
  margin-left: 3px;
  width: 18%;
  margin-top: 10px;
}

.buttons {
  display: block;
  float: right;
  width: 30%;

}

.optionButtons {
  display: block;
  width: 50%;
  height: 25%;
  margin: 0 auto;
  padding-top: 10px;
}
