<div class="customer-title-section">
  <div class="campaign">
    <a [routerLink]="['/customers']" routerLinkActive="active" [queryParams]="{showSubNavBar: false}"
       style="text-decoration: none">
      <button type="button"
              class="btn btn-sec btn-secondary btn-sm btn-block"
              (click)="removeCustomerDetail(customers)">
        Back
      </button>
    </a>
  </div>
  <h1><b>Customer Details</b></h1>
</div>
<div id="details" *ngFor="let customer of customers">
  <table class="table table-striped">
    <thead>
    <tr style="text-align: left">
      <th scope="row" class="border-0" colspan="1" style="font-size: 18px"><b>Customer:</b></th>
      <td class="border-0" colspan="11" style="font-size: 18px">{{customer.firstName}} {{customer.lastName}}</td>
    </tr>
    </thead>
    <tbody style="text-align: left">
    <tr>
      <th scope="row"
          class="rounded-left bg-dark text-white"
          colspan="1">Email:
      </th>
      <td class="rounded-right" colspan="11">
        <input type="text" placeholder="{{customer.email}}" *ngIf="editMode">{{customer.email}}</td>
    </tr>
    <tr>
      <th scope="row"
          class="rounded-left bg-dark text-white"
          colspan="1">Phone:
      </th>
      <td class="rounded-right" colspan="11">
        <input type="text" placeholder="{{customer.phone}}" *ngIf="editMode">
        {{customer.phone}}
      </td>
    </tr>
    <tr>
      <th scope="row"
          class="rounded-left bg-dark text-white"
          colspan="1">City:
      </th>
      <td class="rounded-right" colspan="11">
        <input type="text" placeholder="{{customer.city}}" *ngIf="editMode">
        {{customer.city}}
      </td>
    </tr>
    <tr>
      <th scope="row"
          class="rounded-left bg-dark text-white"
          colspan="1">State:
      </th>
      <td class="rounded-right" colspan="11">
        <input type="text" placeholder="{{customer.state}}" *ngIf="editMode">
        {{customer.state}}
      </td>
    </tr>
    <tr>
      <th scope="row"
          class="rounded-left bg-dark text-white"
          colspan="1">How Often?
      </th>
      <td class="rounded-right" colspan="11">
        <input type="text" placeholder="Sometimes" *ngIf="editMode">
        Sometimes
      </td>
    </tr>
    <tr>
      <th scope="row"
          class="rounded-left bg-dark text-white"
          colspan="1">Type of Phone?
      </th>
      <td class="rounded-right" colspan="11">
        <input type="text" placeholder="iPhone" *ngIf="editMode">
        iPhone
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="optionButtons" *ngFor="let customer of customers">
  <button type="button"
          class="btn btn-secondary edit btn btn-sm btn-block" *ngIf="readOnlyMode" (click)="toggleEditMode()">
    Edit
  </button>
  <button type="button"
          class="btn btn delete btn-danger btn-sm btn-block" *ngIf="readOnlyMode"
          (click)="deleteCustomer(customers); deleteRow(customer)">
    Delete
  </button>
  <button type="button"
          class="btn btn-success update btn btn-sm btn-block" *ngIf="editMode"
  >
    Update
  </button>
  <button type="button"
          class="btn btn cancel btn-danger btn-sm btn-block" (click)="toggleEditMode()" *ngIf="editMode">
    Cancel
  </button>
</div>
