<ion-header>
  <ion-navbar>
    <ion-title>Today's Pick 3 Drawing</ion-title>
  </ion-navbar>
</ion-header>


<ion-content scroll="false">
  <section class="home-container">

    <div class="row header">

      <div class="col text-center">
        [LOGO / HEADER]
      </div>

    </div>

    <div class="row icon-row" *ngFor="let item of items" (click)="itemSelected(item)">

      <div class="col text-center">
        <div>{{ item.winDrawTime | titlecase }} Winning Number</div>
        <div *ngIf="item.winNumber">{{ item.winNumber }}</div>
        <div *ngIf="!item.winNumber">
          <ion-spinner></ion-spinner>
        </div>
      </div>

    </div>
  </section>

</ion-content>
