<ion-content class="ion-margin" style="text-align: center">
  <ion-grid class="ion-margin">
    <div *ngFor="let item of viewPicksArray; let i = index">
      <div *ngIf="i % 3 == 0" class="drawn-number-row">
        <b class="drawn-numbers">{{ item }}</b>
        <b *ngIf="i + 1 < viewPicksArray.length" class="drawn-numbers">{{ viewPicksArray[i + 1] }}</b>
        <b *ngIf="i + 2 < viewPicksArray.length" class="drawn-numbers">{{ viewPicksArray[i + 2] }}</b>
      </div>
    </div>
  </ion-grid>
</ion-content>
