<ion-content class="ion-margin" style="text-align: center">
  <ion-grid class="ion-margin">
    <ion-row class="drawn-number-row">
      <ion-col>333</ion-col>
      <ion-col>222</ion-col>
      <ion-col>111</ion-col>
      <ion-col>152</ion-col>
    </ion-row>
    <ion-row class="drawn-number-row">
      <ion-col>412</ion-col>
      <ion-col>476</ion-col>
      <ion-col>735</ion-col>
      <ion-col>734</ion-col>
    </ion-row>
    <ion-row class="drawn-number-row">
      <ion-col>412</ion-col>
      <ion-col>476</ion-col>
      <ion-col>735</ion-col>
      <ion-col>734</ion-col>
    </ion-row>
    <ion-row class="drawn-number-row">
      <ion-col>412</ion-col>
      <ion-col>476</ion-col>
      <ion-col>735</ion-col>
      <ion-col>734</ion-col>
    </ion-row>
    <ion-row class="drawn-number-row">
      <ion-col>412</ion-col>
      <ion-col>476</ion-col>
      <ion-col>735</ion-col>
      <ion-col>734</ion-col>
    </ion-row>
    <ion-row class="drawn-number-row">
      <ion-col>412</ion-col>
      <ion-col>476</ion-col>
      <ion-col>735</ion-col>
      <ion-col>734</ion-col>
    </ion-row>
    <ion-row class="drawn-number-row">
      <ion-col>412</ion-col>
      <ion-col>476</ion-col>
      <ion-col>735</ion-col>
      <ion-col>734</ion-col>
    </ion-row>
    <ion-row class="drawn-number-row">
      <ion-col>412</ion-col>
      <ion-col>476</ion-col>
      <ion-col>735</ion-col>
      <ion-col>734</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
