<div class="how-to-header" id="generated-picks">
  <h1>How To:</h1>
  <br>
  <br>
</div>

<div class="intro">
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis placerat nisl. Aliquam convallis lorem sed
    consectetur faucibus. Phasellus luctus tortor odio, ac malesuada turpis pellentesque at. Phasellus lorem eros,
    convallis ut nisi lacinia, commodo euismod nunc. Proin interdum posuere urna maximus vestibulum. Nunc eu pretium
    nulla, gravida ornare neque. Fusce eleifend mauris sed nisl fringilla feugiat. Maecenas velit mi, viverra non
    interdum non, scelerisque vel massa.</p>
  <br>
  <a class="btn btn-success btn-lg" [routerLink]="'/requirements'"
     routerLinkActive="active" [queryParams]="{showSubNavBar: true}"
     role="button" (click)="backToTop()">
    Learn More
  </a>
  <br>
  <br>
</div>
