.how-to-container {

  display: inline-block;
  text-decoration: none;
  color: #000;

}



.how-to-container {
/*  background-image: url("../img/screens-04.png");*/
  background-size: 420px  350px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #BDBDBD;
  width: 33.4%;
  height: 350px;

  float: left;


}

.link-container-img {
  display: inline-block;
  height: 145px;
  width: 100%;
  float: left;
}

.container-spacing {
  height: 7.3em;
  width: 100%;
  display: inline-block;
  float: left;
}

.link-container-text {
  display: inline-block;
  height: 75px;
  width: 100%;
  float: right;
  padding: 11px;
  font-size: 11px;
}
