page-history {
  .draw-results-container{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }
  .inherit-height {
    height: inherit;
  }
  .scroll-content {
    overflow-y: hidden;
  }
}
