<ion-content [fullscreen]="true" class="scroll-content" (swipe)="swipeEvent($event)">
  <ion-slides pages [options]="slideOpts">
    <ion-slide style="background-color: purple;" *ngFor="let card of pick3DrawDateDecks; index as i">
      <pick3-draw-date-card style="height: 100%; width: 100%;" [slideNumber]="i+1" [data]="card"></pick3-draw-date-card>
    </ion-slide><!--
    <ion-slide style="background-color: red;">
      <pick3-date-view style="height: 100%; width: 100%;"></pick3-date-view>
    </ion-slide>
    <ion-slide style="background-color: green;">
      <pick3-date-view style="height: 100%; width: 100%;"></pick3-date-view>
    </ion-slide>
    <ion-slide style="background-color: blue;">
      <pick3-date-view style="height: 100%; width: 100%;"></pick3-date-view>
    </ion-slide>-->
  </ion-slides>
  <!--<div id="container">-->
    <!--<ion-grid>
      <ion-row class="primary-view">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
      <ion-row class="drawing-time">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
      <ion-row class="drawing-time">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
      <ion-row class="drawing-time">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
      <ion-row class="drawing-time">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
    </ion-grid>-->
  <!--</div>-->
</ion-content>
