<ion-content [fullscreen]="true" class="scroll-content">
  <!--<div id="container">-->
    <ion-grid>
      <ion-row class="primary-view">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
      <ion-row class="drawing-time">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
      <ion-row class="drawing-time">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
      <ion-row class="drawing-time">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
      <ion-row class="drawing-time">
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
    </ion-grid>
  <!--</div>-->
</ion-content>
