@import "../../src/breakpoints.scss";

/* Icons for draw date component */



/* Icons for draw time component*/

.time-of-day-icon {
  text-align: center;
  vertical-align: middle;
  right: 5px;
  line-height: 12vh;
  font-size: 12vw;
  margin-left: 1rem !important;
  @include for-size(iPhone5-SE) {
    font-size: 5vw;
  }
  @include for-size(iPhone6-7-8) {
    font-size: 11vw;
  }
  @include for-size(iPhone6-7-8-Plus) {
    font-size: 10.3vw;
  }
  @include for-size(iPhoneX) {
    font-size: 11.6vw;
  }
  @include  for-size(iPad) {
    font-size: 9.3vw;
  }
  @include for-size(iPad-Pro) {
    font-size: 9vw;
  }
}

/* Icons for footer and header*/
ion-icon {
  font-size: 24px;

  margin-left: 5px;

  @include for-size(iPhone5-SE) {
    font-size: 30px;
  }
  @include for-size(iPhone6-7-8) {
    font-size: 35px;
  }
  @include for-size(iPhone6-7-8-Plus) {
    font-size: 40px;
  }
  @include for-size(iPhoneX) {
    font-size: 35px;
  }
  @include  for-size(iPad) {
    font-size: 50px;
  }
  @include for-size(iPad-Pro) {
    font-size: 55px;
  }
}

ion-menu-button {
  color: #353535;

  @include for-size(iPhone5-SE) {
    font-size: 30px;
  }
  @include for-size(iPhone6-7-8) {
    font-size: 35px;
  }
  @include for-size(iPhone6-7-8-Plus) {
    font-size: 40px;
  }
  @include for-size(iPhoneX) {
    font-size: 35px;
  }
  @include  for-size(iPad) {
    font-size: 50px;
  }
  @include for-size(iPad-Pro) {
    font-size: 55px;
  }
}

.toolbar-icon {
  color: #d7d7d7;
}
