@import ".././breakpoints";
@import "../theme/variables.scss";

ion-toolbar {
  padding-left: 8px;
  padding-right: 8px;
  background-color: $darkModeToolbar;
}
ion-menu {
  background-color: $darkModeToolbar;
}

.language {
  color: $darkModeToolbarItems;
  font-size: .7em;
}