@import "../../src/breakpoints.scss";

.generated-picks-indicator {
  height: 100%;
}

.draw-time-title {
  height: 100%;
  line-height: 100%;
}

.time-of-day-text {
  line-height: 10.6vh;
}

.draw-time-icon {
  height: 100%;
  line-height: 10.6vh;
}
