/* Responsive Buttons---------------------------------- */
.sign-up {
    display: none;
}

.log-in {
    display: none;
}

.home {
    display: none;
}

.side-menu {
    display: none;
}

.slide a {
    display: none;
}
/* Responsive Buttons---------------------------------- */
/* FOR DESKTOP--Responsive-------------------------------- */



@media screen and (max-width: 805px) {
    .header-container  {
        display: block;
        height: 14%;
    }
}

/*@media screen and (max-width: 805px) {
    .nav-bar-container  {
        display: block;
        width: 100%;
    }
}*/


@media screen and (max-width: 805px) {
    .logo-container  {
        display: block;
        width: 20%;
        height: 83%;
    }
}

@media screen and (max-width: 805px) {
    .header-img-container  {
        display: block;
        width: 80%;
    }
}
/*@media screen and (max-width: 805px) {
    #navbar-wrapper  {
        display: block;


    }
}*/

@media screen and (max-width: 770px) {
    .header-container  {
        display: block;
        height: 18%;
    }
}
@media screen and (max-width: 770px) {
    .logo-container  {
        display: block;
        width: 20%;
        height: 81.5%;
    }
}

@media screen and (max-width: 770px) {
    .header-img-container  {
        display: block;
        width: 80%;
    }
}
@media screen and (max-width: 770px) {
    #navbar-wrapper  {
        display: block;


    }
}


/* FOR DESKTOP & IPAD ---------------------------------- */

/* FOR IPHONE 6/7/8---------------------------------- */
/*
@media screen and (max-width: 750px) {
    #navbar-wrapper  {
        display: none;


    }
}
*/

@media only screen and (max-width: 760px) {
    .how-to-container {
        display: block;
        height: 250px;
        width: 70%;
        margin: 0 auto;
        border-bottom: black;
        background-size: 261.5px 249px;
    }


    .demo-container {
        display: block;
        height: 250px;
        width: 70%;
        margin: 0 auto;
        border-bottom: black;
        background-size: 261.5px 249px;
    }

    .sign-up-container {
        display: block;
        height: 250px;
        width: 70%;
        margin: 0 auto;
        border-bottom: black;
        background-size: 261.5px 249px;
    }
}
@media screen and (max-width: 750px) {
    .slide a {
        display: block;


    }
}

@media screen and (max-width: 750px) {
    .side-nav  {
        display: block;
        width: 15%;
        height: 100%;

    }
}
@media screen and (max-width: 750px) {
    .side-menu  {
        display: block;
        width: 15%;
        height: 100%;
        color: indigo;

    }
}


@media screen and (max-width: 750px) {
    .home {
        display: block;
        width: 20%;
        height: 100%;
        background-color: #1704f9;
        float: left;
        margin: 0 auto;
    }
}

@media screen and (max-width: 750px) {
    .home  h9 {
        display: block;
        margin: 0 auto;
        padding-top: 17%;
    }
}
@media screen and (max-width: 750px) {
    .log-in {
        display: block;
        width: 20%;
        height: 100%;
        background-color: darkcyan;
        float: right;
        margin-right: 15%;
    }
}

@media screen and (max-width: 750px) {
    .sign-up {
        display: block;
        width: 20%;
        height: 100%;
        background-color: darkcyan;
        float: right;
    }
}





@media screen and (max-width: 750px) {
    .header-container  {
        display: block;
        height: 20%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}



/*@media screen and (max-width: 750px) {
    .nav-bar-home-container  {
        display: block;
        width: 50%;
        height: 30%;
    }
}



@media screen and (max-width: 750px) {
    .nav-bar-container  {
        display: block;
        width: 100%;
        height: 30%;
    }
}*/


@media screen and (max-width: 750px) {
    .logo-container  {
        display: block;
        width: 30%; /* The width is 100%, when the viewport is 800px or smaller */
        height: 70%;

    }
}

@media screen and (max-width: 750px) {
    .header-img-container  {
        display: block;
        width: 70%; /* The width is 100%, when the viewport is 800px or smaller */
        height: 70%;
    }
}


/* FOR IPHONE 6/7/8---------------------------------- */
/* FOR TABLET---------*/




/* FOR TABLET---------*/
