.css-selector {
    font-family: 'Lato', serif;
}

.main-container {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;


}


.header-container {
    display: block;
    background-color: #ffd7f7;
    width: 100%;
    height: 20%;
    padding: 0px;
    margin: 0 auto;


}

.logo-container {
    display: block;
    background-image: url("../img/webpage_button-03.png");
    width: 20%;
    height: 200px;
    padding: 0px;
    margin: 0 auto;
    float: left;


}

.header-img-container {
    display: block;
    background-color: rgb(69, 232, 122);
    width: 80%;
    height: 150px;
    padding: 0px;
    margin: auto;
    float: right;


}

.navbar-container {
    display: block;
    background-color: #fff059;
    width: 80%;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    float: right;

}

.body-container {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;

}

.main-content-container {

    background-color: #eea53a;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    text-align: center;
    display: inline-block;

}


.how-to-container {
    display: inline-block;
    background-color: #fafafa;
    width: 100%;
    height: 40%;
    padding: 0px;
    margin: 0 auto;

    float: left;

}

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.what-you-need {
    display: block;
    background-color: #fafafa;
    width: 100%;
        height: 500px;
        padding: 0px;
    margin: 0 auto;

    float: left;


}

.interface {
    display: block;
    background-color: #fafafa;
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0 auto;
    position: center;
    float: left;


}

.fill-container {
    display: block;
    background-color: #eea53a;
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: auto;
    position: center;

}

.how-to-generate {
    display: block;
    background-color: #fafafa;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0 auto;
    position: center;
    float: left;

}

.how-to-view {
    display: block;
    background-color: #fafafa;
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0 auto;
    position: center;
    float: left;


}

* {
    margin-inside: .5;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    align-content: center;
}

.wrapper {
    max-width: 700px;
    margin: 50px auto;
    background: #6465a5;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 50px;
    font-size: 35px;
}

.address {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #a9aacd;
    margin-bottom: 50px;
}

.inner-address p {
    font-size: 12px;
}

.inner-address .fas {
    font-size: 30px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}

.form-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.input-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1%;
    margin-inside: .5;


}
/* To align each section of the form properly*/
.location {
    margin-top: 7%;
}

.phone {
    margin-top: 7%;
}

.inner-msg {
    width: 100%;
    margin-bottom: 20px;
}
/* For actual form input*/
.input > input {
    border: 1px;
    width: 100%;
    height: 80%;
    padding: 10px 20px;
    outline: none;
    border-style: solid;
}


.btn {
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #9d9d9d;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
    width: 100%;
}

.btn:hover {
    background: #fff;
    color: #000;
    border-color: #000000;
}



/* for screen to remain responsive at phone size*/
@media screen and (max-width: 640px) {
    .input-form {
        flex-direction: column;
    }


    .form .input > input {
        width: 100% !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0){
    .input-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 10%;
        margin-bottom: 1%;
        margin-inside: .5;
    }

    @-moz-document url-prefix() {
        .input-form {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50%;
            margin-bottom: 1%;
            margin-inside: .5;
        }
    }
}
.fill-form {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 15%;
    box-sizing: border-box;
    align-content: center;


}


select {
    background: #ffffff;
    border: 1px;
    height: 80%;
    width: 100%;
    float: right;
    padding: 10px 20px;
    outline: none;
    border-style: solid;

}
/* used to center into body*/
.row {
    margin-top: 10%;
}


.link-container {


    width: 100%;
    height: 420px;
    padding:30px;
    text-align: center;

}


.demo-container {
    background-image: url("../img/webpage_button-02.png");
    background-size: 532px  420px;
    border-top-style: solid;
    border-right-style:none;
    border-bottom-style: solid;
    border-left-style: solid;
    width: 33.3%;
    height: 420px;

}

.demo-container p {

   padding-bottom: 5% ;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    position:relative;
    top:82%;
}

.sign-up-container {
    background-image: url("../img/webpage_button-03.png");
    background-size: 532px  420px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    width: 33.3%;
    height: 420px;


}

.sign-up-container p {
    vertical-align: bottom;
    padding-bottom: 5% ;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    position:relative;
    top:82%;
}

.demo-container, .sign-up-container {

    display: inline-block;
    padding: 20px;
}








h2 {
font-family: 'Lato', serif;
    padding-left: 20px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}
.how-to-nav {
    display: block;
text-align: center;
    width: 80%;
    height: 5%;
    padding: 0px;
    position:relative;
    left:22%;

    float: right;


}

.Title {
    display: table;
    text-align: center;
    background-color: #f2f2f2;


    width: 20%;
    height: 45px;

    float: left;

font-family:'Lato', serif;



    text-decoration: none;


}
.Title p{
    display: inline-block;
    vertical-align: center;
    position:relative;
    top:10px;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
'Lato', serif;
}
#navbar a:hover {
    background-color: #69BF68;
    color: black;
}

#navbar a.active {
    background-color: #69BF68;
    color: #69BF68;
}


.content {
    padding: 16px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.sticky + .content {
    padding-top: 60px;
}


.nav-wrapper {
    margin: 0;
    padding: 0;
    border: 2px solid #C8E6C9;
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.nav-home {
    background-color: blue;
    border-right: 2px solid #5beea6;
}

.nav-howto {
    background-color: red;
    border-right: 2px solid #5beea6;

}

.nav-demo {

    background-color: blue;
    border-right: 2px solid #5beea6;
}

.nav-right {
    background-color: green;
    border-right: 2px solid #F2F2F2;
}


.nav-home a {
    float: left;
    color: white;
    padding: 17px ;
    margin-top: -17px;
    text-decoration: none;
    width: 25%; /* Four links of equal widths */
    text-align: center;
}


.nav-howto a {

    float: left;
    color: white;
    padding: 17px ;
    margin-top: -17px;
    text-decoration: none;
    width: 25%; /* Four links of equal widths */
    text-align: center;
}


.nav-demo a {

    float: left;
    color: white;
    padding: 17px ;
    margin-top: -17px;
    text-decoration: none;
    width: 25%; /* Four links of equal widths */
    text-align: center;
}


.nav-right a {

    float: right;	    float: right;
    color: white;
    padding: 17px ;
    margin-top: -17px;
    text-decoration: none;
    width: 12.5%; /* Four links of equal widths */
    text-align: center;
}


.nav-home a:hover {
    background-color: #000;
}

.nav-howto a:hover {
    background-color: #000;
}

.nav-demo a:hover {
    background-color: #000;
}

.nav-right a:hover {
    background-color: #000;
}

.nav-home a.active {
    background-color: #4CAF50;
}

.nav-howto a.active {
    background-color: #4CAF50;
}

.nav-demo a.active {
    background-color: #4CAF50;
}

.nav-right a.active {
    background-color: #4CAF50;
}