.css-selector {
    font-family: 'Lato', serif;
}

.main-container {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;


}


.header-container {
    display: block;
    background-color: #ffd7f7;
    width: 100%;
    height: 40%;
    padding: 0px;
    margin: 0 auto;


}

.logo-container {
    display: block;
    background-color: #7876ff;
    width: 20%;
    height: 100%;
    padding: 0px;
    margin: 0 auto;
    float: left;


}

.header-img-container {
    display: block;
    background-color: rgb(69, 232, 122);
    width: 80%;
    height: 65%;
    padding: 0px;
    margin: auto;
    float: right;


}

.navbar-container {
    display: block;
    background-color: #fff059;
    width: 80%;
    height: 35%;
    padding: 0;
    margin: 0 auto;
    float: right;

}
.navbar-home-container {
    display: none;
    background-color: #00d7ff;
    width: 0%;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    float: left;

}

.log-in{
    display: none;
    width: 0%;
    height: 100%;
    background-color: darkcyan;
    float: right;
}

.side-nav {
    display: none;
    background-color: #ff0023;
    width: 0%;
    height: 50px;

    padding: 0;
    margin: 0 auto;
    float: right;

}

/* FOR DESKTOP---------------------------------- */


@media screen and (max-width: 800px) {
    .header-container  {
        display: block;
        height: 20%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media screen and (max-width: 800px) {
    .navbar-container  {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}


@media screen and (max-width: 800px) {
   .logo-container  {
        width: 20%; /* The width is 100%, when the viewport is 800px or smaller */
       height: 65%;
    }
}

@media screen and (max-width: 800px) {
    .header-img-container  {
        width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
/* FOR DESKTOP & IPAD ---------------------------------- */

/* FOR IPHONE 6/7/8---------------------------------- */

@media screen and (max-width: 750px) {
    .side-nav  {
        display: block;
        width: 25%;
        height: 100%;

    }
}

@media screen and (max-width: 750px) {
    .home {
        display: block;
        width: 50%;
        height: 100%;
        background-color: #f9aea6;
        float: left;
        margin: 0 auto;
    }
}

@media screen and (max-width: 750px) {
    .home  h9 {
        display: block;
        background-color: #f9aea6;
        margin: 0 auto;
        padding-top: 17%;
    }
}
@media screen and (max-width: 750px) {
    .sign-up {
        display: block;
        width: 37.5%;
        height: 100%;
        background-color: darkcyan;
        float: left;
    }
}


@media screen and (max-width: 750px) {
    .log-in {
        display: block;
        width: 37.5%;
        height: 100%;
        background-color: darkcyan;
        float: right;
    }
}


@media screen and (max-width: 750px) {
    .header-container  {
        display: block;
        height: 20%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}



@media screen and (max-width: 750px) {
    .navbar-home-container  {
        display: block;
        width: 50%;
        height: 30%;
    }
}



@media screen and (max-width: 750px) {
    .navbar-container  {
        width: 50%;
        height: 30%;
    }
}


@media screen and (max-width: 750px) {
    .logo-container  {
        width: 30%; /* The width is 100%, when the viewport is 800px or smaller */
        height: 70%;

    }
}

@media screen and (max-width: 750px) {
    .header-img-container  {
        width: 70%; /* The width is 100%, when the viewport is 800px or smaller */
        height: 70%;
    }
}
/* FOR IPHONE 6/7/8---------------------------------- */
.body-container {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;

}

.main-content-container {

    background-color: #eea53a;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: auto;
    text-align: center;
    display: inline-block;

}


.how-to-container {
    display: inline-block;
    background-color: #fafafa;
    width: 100%;
    height: 40%;
    padding: 0px;
    margin: 0 auto;

    float: left;

}

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.what-you-need {
    display: block;
    background-color: #fafafa;
    width: 100%;
        height: 500px;
        padding: 0px;
    margin: 0 auto;

    float: left;


}

.interface {
    display: block;
    background-color: #fafafa;
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0 auto;
    position: center;
    float: left;


}

.fill-container {
    display: block;
    background-color: #eea53a;
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: auto;
    position: center;

}

.how-to-generate {
    display: block;
    background-color: #fafafa;
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0 auto;
    position: center;
    float: left;

}

.how-to-view {
    display: block;
    background-color: #fafafa;
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0 auto;
    position: center;
    float: left;


}

* {
    margin-inside: .5;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    align-content: center;
}

.wrapper {
    max-width: 700px;
    margin: 50px auto;
    background: #6465a5;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 50px;
    font-size: 35px;
}

.address {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #a9aacd;
    margin-bottom: 50px;
}

.inner-address p {
    font-size: 12px;
}

.inner-address .fas {
    font-size: 30px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}

.form-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.input-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1%;
    margin-inside: .5;


}
/* To align each section of the form properly*/
.location {
    margin-top: 7%;
}

.phone {
    margin-top: 7%;
}

.inner-msg {
    width: 100%;
    margin-bottom: 20px;
}
/* For actual form input*/
.input > input {
    border: 1px;
    width: 100%;
    height: 80%;
    padding: 10px 20px;
    outline: none;
    border-style: solid;
}


.btn {
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #9d9d9d;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
    width: 100%;
}

.btn:hover {
    background: #fff;
    color: #000;
    border-color: #000000;
}



/* for screen to remain responsive at phone size*/
@media screen and (max-width: 640px) {
    .input-form {
        flex-direction: column;
    }


    .form .input > input {
        width: 100% !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0){
    .input-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 10%;
        margin-bottom: 1%;
        margin-inside: .5;
    }

    @-moz-document url-prefix() {
        .input-form {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50%;
            margin-bottom: 1%;
            margin-inside: .5;
        }
    }
}
.fill-form {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 15%;
    box-sizing: border-box;
    align-content: center;


}


select {
    background: #ffffff;
    border: 1px;
    height: 80%;
    width: 100%;
    float: right;
    padding: 10px 20px;
    outline: none;
    border-style: solid;

}
/* used to center into body*/
.row {
    margin-top: 10%;
}


.link-container {


    width: 100%;
    height: 420px;
    margin: 0 auto;

    display: inline-block;

}


.demo-container {
    display: table;
    background-image: url("../img/webpage_button-02.png");
    background-size: 532px  420px;
    border-style: solid;
    width: 29%;
    height: 420px;
    padding: 0px;
    margin: 0 auto;
    position: center;
    float: left;


}

.demo-container p {
    display: table-cell;
    vertical-align: bottom;
   padding-bottom: 5% ;
    padding-left: 5%;
    padding-right: 5%;


}

.sign-up-container {
    display: table;
    background-image: url("../img/webpage_button-03.png");
    background-size: 532px  420px;
    border-style: solid;
    width: 29%;
    height: 420.5px;
    padding: 0px;
    margin: 0 auto;
    position: center;
    float: left;

}

.sign-up-container p {
display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5% ;
    padding-left: 5%;
    padding-right: 5%;

}








h2 {
font-family: 'Lato', serif;
    padding-left: 20px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}
.how-to-nav {
    display: block;
text-align: center;
    width: 80%;
    height: 5%;
    padding: 0px;


    float: right;


}


.Title {
    display: table;
    text-align: center;
    background-color: #f2f2f2;


    width: 20%;
    height: 45px;

    float: left;

font-family:'Lato', serif;



    text-decoration: none;


}
.Title p{
    display: inline-block;
    vertical-align: center;





}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
'Lato', serif;
}
#navbar a:hover {
    background-color: #69BF68;
    color: black;
}

#navbar a.active {
    background-color: #69BF68;
    color: #69BF68;
}


.content {
    padding: 16px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.sticky + .content {
    padding-top: 60px;
}

/* -------------- SIDE BAR ------------- */

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20.5%;
    right: 0;
    background-color: #111;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;


}
.nav a {
    display: block;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    color: #ccc;
}
.nav a:hover {
    color: black;
    background-color: white;
    transition: 0.4s;
}
.nav .close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-left: 50px;
    font-size: 30px;
}

.nav h2 {

    position: absolute;
    top: 5px;
    left: 35px;
    margin-left: 30px;
    font-size: 30px;
    color: white;
}
.slide a {
    color: #000;

    font-size: 24px;

    top: 16%;

    position: absolute;

    right: 5%;
}
#content {
    padding: 0px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

