.sign-up-hero {
  background-color: #ffd743;
  width: 100%;
  padding-top: 6em;
  padding-bottom: 3em;
  place-content: center;
}

.sign-up-form {
  background-color: #e7e7e7;
  width: 100%;

}



.sign-up-hero-text {

  text-align: center;
}

.btn-block {
  margin-top: 0px;
}

.inner-form-section {
  margin-bottom: 2%;
}

@media only screen and (max-width: 375px) {
  .btn-block {
    margin-top: 15px;
  }
}

/**IPHONE +**/
@media only screen and (min-width: 410px) {
  .btn-block {
    margin-top: 15px;
  }
}

/**ANDROID**/
@media only screen and (max-width: 365px) {
  .btn-block {
    margin-top: 15px;
  }
}

label {
  text-align: left;
}

/**ANDROID**/
@media only screen and (max-width: 360px) {
  .btn-block {
    margin-top: 15px;
  }
}

/**IPHONE 5**/
@media only screen and (max-width: 320px) {
  .btn-block {
    margin-top: 15px;
  }
}

/**IPAD**/
@media only screen and (min-width: 760px) {
  .btn-block {
    margin-top: 15px;
  }
}

/**KINDLE**/
@media only screen and (min-width: 799px) {
  .btn-block {
    margin-top: 15px;
  }
}
