<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="main-content">
  <div class="sign-up-hero" *ngIf="isDesktopResolution()">
    <div class="container-fluid">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
            <p class="h4 text-center">Sign up</p>
            <form class="needs-validation" novalidate (ngSubmit)="onSubmit()" #signUpForm="ngForm">
              <div class="info-form">
                <div class="form-row">
                  <label for="defaultRegisterFormFirstName">First Name</label>
                  <input id="defaultRegisterFormFirstNameMobile"
                         name="firstName"
                         class="form-control"
                         placeholder="First name"
                         [(ngModel)]="customerInfo.firstName"
                         minlength="2"
                         #firstName="ngModel"
                         type="text"
                         required ngModel nameValidator>
                  <div class="alert alert-danger" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors.required">- First name is required.</div>
                    <div *ngIf="firstName.errors.minlength">- First name should have minimum 2 characters.</div>
                    <div *ngIf="firstName.errors.nameValidator">- May only use alphabetical characters.</div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormLastName">Last Name</label>
                  <input id="defaultRegisterFormLastNameMobile"
                         name="lastName"
                         #lastName="ngModel"
                         [(ngModel)]="customerInfo.lastName"
                         type="text"
                         minlength="2"
                         class="form-control" placeholder="Last name"
                         required ngModel nameValidator>
                  <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
                    <div *ngIf="lastName.errors.required">- Last name is required.</div>
                    <div *ngIf="lastName.errors.minlength">- Last name should have minimum 2 characters.</div>
                    <div *ngIf="lastName.errors.nameValidator">- May only use alphabetical characters.</div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormEmail">Email</label>
                  <input
                    type="email" name="email" email #email="ngModel" [(ngModel)]="customerInfo.email"
                    id="defaultRegisterFormEmailMobile"
                    class="form-control" placeholder="Email"
                    required ngModel dataValidator emailValidator>
                  <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors.required">- Email is required.</div>
                    <div *ngIf="email.errors.emailValidator">- Email is not valid.</div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormPhone">Phone</label>
                  <input type="tel" name="phoneNumber"
                         #phoneNumber="ngModel"
                         [(ngModel)]="customerInfo.phone"
                         id="defaultRegisterFormPhoneMobile"
                         class="form-control"
                         minlength="12"
                         pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                         placeholder="Phone Number"
                         required ngModel numberValidator>
                  <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">
                    <div *ngIf="phoneNumber.errors.required">- Phone number is required.</div>
                    <div *ngIf="phoneNumber.errors.pattern">- Correct format is 555-555-5555.</div>
                    <div *ngIf="phoneNumber.errors.numberValidator">- Must only use numeric values.</div>
                    <div *ngIf="phoneNumber.errors.minlength">- Phone number is not valid.</div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormCity">City</label>
                  <input name="cityName" #cityName="ngModel" [(ngModel)]="customerInfo.city"
                         type="text"
                         id="defaultRegisterFormCityMobile"
                         class="form-control"
                         placeholder="City"
                         minlength="2"
                         required ngModel nameValidator>
                  <div class="alert alert-danger" *ngIf="cityName.touched && !cityName.valid">
                    <div *ngIf="cityName.errors.required">- City name is required.</div>
                    <div *ngIf="cityName.errors.nameValidator">- City name must only contain alphabetical characters.</div>
                    <div *ngIf="cityName.errors.minlength">- City name is invalid.</div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormCity">State</label>
                  <label for="stateDropDownId"></label>
                  <select #stateDropDownInputName="ngModel" [(ngModel)]="customerInfo.state"
                          name="stateDropDownInputName"
                          class="custom-select" id="stateDropDownIdMobile"
                          required ngModel>
                    <option value="" selected>Select a State</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="5">California</option>
                    <option value="6">Colorado</option>
                    <option value="7">Connecticut</option>
                    <option value="8">Delaware</option>
                    <option value="1">District Of Columbia</option>
                    <option value="1">Florida</option>
                    <option value="1">Georgia</option>
                    <option value="1">Hawaii</option>
                    <option value="1">Idaho</option>
                    <option value="1">Illinois</option>
                    <option value="1">Indiana</option>
                    <option value="1">Iowa</option>
                    <option value="1">Kansas</option>
                    <option value="1">Kentucky</option>
                    <option value="1">Louisiana</option>
                    <option value="1">Maine</option>
                    <option value="1">Maryland</option>
                    <option value="1">Massachusetts</option>
                    <option value="1">Michigan</option>
                    <option value="1">Minnesota</option>
                    <option value="1">Mississippi</option>
                    <option value="1">Missouri</option>
                    <option value="1">Montana</option>
                    <option value="1">Nebraska</option>
                    <option value="1">Nevada</option>
                    <option value="1">New Hampshire</option>
                    <option value="1">New Jersey</option>
                    <option value="1">New Mexico</option>
                    <option value="1">New York</option>
                    <option value="1">North Carolina</option>
                    <option value="1">North Dakota</option>
                    <option value="1">Ohio</option>
                    <option value="1">Oklahoma</option>
                    <option value="1">Oregon</option>
                    <option value="1">Pennsylvania</option>
                    <option value="1">Rhode Island</option>
                    <option value="1">South Carolina</option>
                    <option value="1">South Dakota</option>
                    <option value="1">Tennessee</option>
                    <option value="1">Texas</option>
                    <option value="1">Utah</option>
                    <option value="1">Vermont</option>
                    <option value="1">Virginia</option>
                    <option value="1">Washington</option>
                    <option value="1">West Virginia</option>
                    <option value="1">Wisconsin</option>
                    <option value="1">Wyoming</option>
                  </select>

                  <div class="alert alert-danger" *ngIf="stateDropDownInputName.touched && !stateDropDownInputName.valid">
                    <div *ngIf="stateDropDownInputName.errors.required">- State selection is required.</div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormZip">Zip</label>
                  <input name="zipCode"
                         #zipCode="ngModel"
                         [(ngModel)]="customerInfo.zipCode"
                         type="text"
                         minlength="4"
                         maxlength="5"
                         id="defaultRegisterFormZipMobile" class="form-control"
                         placeholder="Zip"
                         required ngModel numberValidator>
                  <div class="alert alert-danger" *ngIf="zipCode.touched && !zipCode.valid">
                    <div *ngIf="zipCode.errors.required">- Zip code is required.</div>
                    <div *ngIf="zipCode.errors.numberValidator">- Zip code must only contain numeric characters.</div>
                    <div *ngIf="zipCode.errors.minlength">- Zip code is invalid.</div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormCity">Type Of Phone</label>
                  <label for="typeOfPhoneId"></label>
                  <select #dropDownTypeOfPhoneName="ngModel" [(ngModel)]="customerInfo.cellPhoneType"
                          name="dropDownTypeOfPhoneName"
                          class="custom-select"
                          id="typeOfPhoneIdMobile"
                          required ngModel>
                    <option value="" selected>Type Of Phone</option>
                    <option value="Iphone">Iphone</option>
                    <option value="Android">Android</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="dropDownTypeOfPhoneName.touched && !dropDownTypeOfPhoneName.valid">
                    <div *ngIf="dropDownTypeOfPhoneName.errors.required">- Selection is required.</div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormCity">How Often Do You Play?</label>
                  <label for="howOftenId"></label>
                  <select #dropDownHowOftenName="ngModel" [(ngModel)]="customerInfo.gambleFrequency"
                          name="dropDownHowOftenName"
                          class="custom-select" id="howOftenIdMobile"
                          required ngModel>
                    <option value="" selected>How Often Do You Play?</option>
                    <option value="Often">Often</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Never">Never</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="dropDownHowOftenName.touched && !dropDownHowOftenName.valid">
                    <div *ngIf="dropDownHowOftenName.errors.required">- Selection is required.</div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <!-- [routerLink]="'/thank-you'"
                   routerLinkActive="active" [queryParams]="{showSubNavBar: false}"-->
                  <button type="submit"
                          class="btn btn btn-success submit btn-lg btn-block"
                          [disabled]="!signUpForm.form.valid" (click)="onSubmit()">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-1"></div>
        </div>
    </div>
    <br>
    <div class="footer"></div>
    <br>
  </div>
  <div class="sign-up-form" *ngIf="isMobileResolution()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 py-4">
          <div class="card" style="margin-top:20%; padding-top: 25px;">
            <div class="card-title text-center">
              Sign Up Form
            </div>
            <div class="card-body">
              <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
              <form class="needs-validation" novalidate (ngSubmit)="onSubmit()" #signUpForm="ngForm">
                <div class="info-form">
                  <div class="form-row">
                    <div class="col-6">
                      <label for="defaultRegisterFormFirstName">First Name</label>
                      <input id="defaultRegisterFormFirstName"
                             name="firstName"
                             class="form-control"
                             placeholder="First name"
                             [(ngModel)]="customerInfo.firstName"
                             minlength="2"
                             #firstName="ngModel"
                             type="text"
                             required ngModel nameValidator>
                      <div class="alert alert-danger" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                        <div *ngIf="firstName.errors.required">- First name is required.</div>
                        <div *ngIf="firstName.errors.minlength">- First name should have minimum 2 characters.</div>
                        <div *ngIf="firstName.errors.nameValidator">- May only use alphabetical characters.</div>
                      </div>
                    </div>
                    <br>
                    <div class="col-6">
                      <label for="defaultRegisterFormLastName">Last Name</label>
                      <input id="defaultRegisterFormLastName"
                             name="lastName"
                             #lastName="ngModel"
                             [(ngModel)]="customerInfo.lastName"
                             type="text"
                             minlength="2"
                             class="form-control"
                             placeholder="Last name"
                             required ngModel nameValidator>
                      <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
                        <div *ngIf="lastName.errors.required">- Last name is required.</div>
                        <div *ngIf="lastName.errors.minlength">- Last name should have minimum 2 characters.</div>
                        <div *ngIf="lastName.errors.nameValidator">- May only use alphabetical characters.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="col-6">
                    <label for="defaultRegisterFormEmail">Email</label>
                    <input
                      type="email" name="email" email #email="ngModel" [(ngModel)]="customerInfo.email"
                      id="defaultRegisterFormEmail"
                      class="form-control" placeholder="Email"
                      required ngModel dataValidator emailValidator>
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                      <div *ngIf="email.errors.required">- Email is required.</div>
                      <div *ngIf="email.errors.emailValidator">- Email is not valid.</div>
                    </div>
                  </div>
                  <br>
                  <div class="col-6">
                    <label for="defaultRegisterFormPhone">Phone</label>
                    <input type="tel" name="phoneNumber"
                           #phoneNumber="ngModel"
                           [(ngModel)]="customerInfo.phone"
                           id="defaultRegisterFormPhone"
                           class="form-control"
                           minlength="12"
                           pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                           placeholder="Phone Number"
                           required ngModel numberValidator>
                    <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">
                      <div *ngIf="phoneNumber.errors.required">- Phone number is required.</div>
                      <div *ngIf="phoneNumber.errors.pattern">- Correct format is 555-555-5555.</div>
                      <div *ngIf="phoneNumber.errors.numberValidator">- Must only use numeric values.</div>
                      <div *ngIf="phoneNumber.errors.minlength">- Phone number is not valid.</div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="col-6">
                    <label for="defaultRegisterFormCity">City</label>
                    <input name="cityName" #cityName="ngModel" [(ngModel)]="customerInfo.city"
                           type="text"
                           id="defaultRegisterFormCity"
                           class="form-control"
                           placeholder="City"
                           minlength="2"
                           required ngModel nameValidator>
                    <div class="alert alert-danger" *ngIf="cityName.touched && !cityName.valid">
                      <div *ngIf="cityName.errors.required">- City name is required.</div>
                      <div *ngIf="cityName.errors.nameValidator">- City name must only contain alphabetical characters.</div>
                      <div *ngIf="cityName.errors.minlength">- City name is invalid.</div>
                    </div>
                  </div>
                  <br>
                  <div class="col-6">
                    <label for="defaultRegisterFormCity">State</label>
                    <label for="stateDropDownId"></label>
                    <select #stateDropDownInputName="ngModel"
                            [(ngModel)]="customerInfo.state"
                            name="stateDropDownInputName"
                            class="custom-select" id="stateDropDownId"
                            required ngModel>
                      <option value="" selected>Select a State</option>
                      <option value="Alabama">Alabama</option>
                      <option value="Alaska">Alaska</option>
                      <option value="Arizona">Arizona</option>
                      <option value="Arkansas">Arkansas</option>
                      <option value="5">California</option>
                      <option value="6">Colorado</option>
                      <option value="7">Connecticut</option>
                      <option value="8">Delaware</option>
                      <option value="1">District Of Columbia</option>
                      <option value="1">Florida</option>
                      <option value="1">Georgia</option>
                      <option value="1">Hawaii</option>
                      <option value="1">Idaho</option>
                      <option value="1">Illinois</option>
                      <option value="1">Indiana</option>
                      <option value="1">Iowa</option>
                      <option value="1">Kansas</option>
                      <option value="1">Kentucky</option>
                      <option value="1">Louisiana</option>
                      <option value="1">Maine</option>
                      <option value="1">Maryland</option>
                      <option value="1">Massachusetts</option>
                      <option value="1">Michigan</option>
                      <option value="1">Minnesota</option>
                      <option value="1">Mississippi</option>
                      <option value="1">Missouri</option>
                      <option value="1">Montana</option>
                      <option value="1">Nebraska</option>
                      <option value="1">Nevada</option>
                      <option value="1">New Hampshire</option>
                      <option value="1">New Jersey</option>
                      <option value="1">New Mexico</option>
                      <option value="1">New York</option>
                      <option value="1">North Carolina</option>
                      <option value="1">North Dakota</option>
                      <option value="1">Ohio</option>
                      <option value="1">Oklahoma</option>
                      <option value="1">Oregon</option>
                      <option value="1">Pennsylvania</option>
                      <option value="1">Rhode Island</option>
                      <option value="1">South Carolina</option>
                      <option value="1">South Dakota</option>
                      <option value="1">Tennessee</option>
                      <option value="1">Texas</option>
                      <option value="1">Utah</option>
                      <option value="1">Vermont</option>
                      <option value="1">Virginia</option>
                      <option value="1">Washington</option>
                      <option value="1">West Virginia</option>
                      <option value="1">Wisconsin</option>
                      <option value="1">Wyoming</option>
                    </select>

                    <div class="alert alert-danger" *ngIf="stateDropDownInputName.touched && !stateDropDownInputName.valid">
                      <div *ngIf="stateDropDownInputName.errors.required">- State selection is required.</div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="col-6">
                    <label for="defaultRegisterFormZip">Zip</label>
                    <input name="zipCode"
                           #zipCode="ngModel"
                           [(ngModel)]="customerInfo.zipCode"
                           type="text"
                           minlength="4"
                           maxlength="5"
                           id="defaultRegisterFormZip" class="form-control"
                           placeholder="Zip"
                           required ngModel numberValidator>
                    <div class="alert alert-danger" *ngIf="zipCode.touched && !zipCode.valid">
                      <div *ngIf="zipCode.errors.required">- Zip code is required.</div>
                      <div *ngIf="zipCode.errors.numberValidator">- Zip code must only contain numeric characters.</div>
                      <div *ngIf="zipCode.errors.minlength">- Zip code is invalid.</div>
                    </div>
                  </div>
                  <br>
                  <div class="col-6">
                    <label for="defaultRegisterFormCity">Type Of Phone</label>
                    <label for="typeOfPhoneId"></label>
                    <select #dropDownTypeOfPhoneName="ngModel"
                            [(ngModel)]="customerInfo.cellPhoneType"
                            name="dropDownTypeOfPhoneName"
                            class="custom-select"
                            id="typeOfPhoneId"
                            required ngModel>
                      <option value="" selected>Type Of Phone</option>
                      <option value="Iphone">Iphone</option>
                      <option value="Android">Android</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="dropDownTypeOfPhoneName.touched && !dropDownTypeOfPhoneName.valid">
                      <div *ngIf="dropDownTypeOfPhoneName.errors.required">- Selection is required.</div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <label for="defaultRegisterFormCity">How Often Do You Play?</label>
                  <label for="howOftenId"></label>
                  <select #dropDownHowOftenName="ngModel"
                          [(ngModel)]="customerInfo.gambleFrequency"
                          name="dropDownHowOftenName"
                          class="custom-select" id="howOftenId"
                          required ngModel>
                    <option value="" selected>How Often Do You Play?</option>
                    <option value="Often">Often</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Never">Never</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="dropDownHowOftenName.touched && !dropDownHowOftenName.valid">
                    <div *ngIf="dropDownHowOftenName.errors.required">- Selection is required.</div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <!-- [routerLink]="'/thank-you'"
                   routerLinkActive="active" [queryParams]="{showSubNavBar: false}"-->
                  <button type="submit"
                          class="btn btn btn-success submit btn-lg btn-block"> <!-- [disabled]="!signUpForm.form.valid" -->
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="footer"></div>
    <br>
  </div>
</div>
<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>
<ng-template #tpl>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Fetching data...
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Server Error...
    </mat-card-content>
  </mat-card>
</ng-template>
