<div class="demo-section" id="demo">
  <h1>{{'demo-title' | translate}}</h1>
  <br>
  <br>
  <div class="demo-paragraph"><p>{{'demo-introduction' | translate}}</p>
    <br>
    <h1>{{'demo-title-morning' | translate}}</h1>
    <p>{{'demo-morning' | translate}}</p>
    <br>
    <h1>{{'demo-title-night' | translate}}</h1>
    <p>{{'demo-night' | translate}}</p>
    <br>
    <h1>{{'demo-title-history' | translate}}</h1>
    <p>{{'demo-history' | translate}}</p>
  </div>
  <br>
  <br>
  <br>
  <a href="https://invis.io/UJS18HQTEKB" style="text-decoration: none">
    <div class="demo-button"><h4>{{'demo-btn' | translate }}</h4></div>
  </a>
  <br>
  <br>
  <br>
</div>
