
.demo-paragraph h4 {
  text-align: left;
}

.demo-button {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(126, 187, 86);
  margin: 0 auto;
  color: #2e2e2e;
  text-decoration: none;
}
.demo-button:hover {
  background-color: rgb(116, 165, 83);
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.demo-button h4 {
  line-height: 2em;
 text-align: center;

}
