@import "../../../breakpoints";
@import "../../../theme/variables";


ion-content {
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-col {
  height: 100%;
}

.generate-back-button {
  margin-top: 29vh;
  @include for-size(iPhone5-SE) {
    height: 10.2vh;
    line-height: 10.2vh;
    margin-top: 29vh;
  }
  @include for-size(iPhone6-7-8) {
    margin-top: 30vh;
  }
  @include for-size(iPhone6-7-8-Plus) {
    margin-top: 30vh;
  }
  @include for-size(iPhoneX) {
    margin-top: 31vh;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 50%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

@media screen and (min-width: 800px) {
  ._25 {
    flex: 2.5;
  }
  ._55 {
    flex: 5.5;
  }
  ._20 {
    flex: 2;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ion-grid {
  height: 100%;
  padding: 0px;

  ion-row {
    height: 100%;
  }

  .draw-time-string {
    line-height: 2.7em;
  }

  ion-row.drawing-time {
    height: 12.5%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $chucksPick3Gray;

    ion-col {
      padding: 0px;
    }
  }
}

.draw-date-text {
  color: $chucksPick3White;
}

.draw-date-title {
  font-size: 7.5vw;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  @include for-size(iPhone5-SE) {
    font-size: 4em !important;
  }
}

.scroll-content {
  overflow-y: hidden;
}

.slide-number-row {
  @include for-size(iPhone5-SE) {
    margin-top: 0 !important;
  }
  @include for-size(iPhoneX) {
    margin-top: 5em !important;
  }
  @include for-size(samsung-galaxy) {
    margin-top: 1em;
  }
}


.dot {
  height: 50px;
  width: 50px;
  background-color: $chucksPick3White;
  border-radius: 50%;
  display: inline-block;
  margin: .5em 2px .5em 2px;
  color: $chucksPick3Black;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bold;

  @include for-size(iPhone5-SE) {
    height: 20px;
    width: 20px;
    line-height: 1em;
  }
  @include for-size(samsung-galaxy) {
    height: 40px;
    width: 40px;
    line-height: 1.5em;
  }
}

.home-screen__floating-action-button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15rem;
  height: 5rem;
  width: 5rem;
  --box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.7);
  @include for-size(iPhone5-SE) {

  }
  @include for-size(iPhone6-7-8) {
    margin-top: 10rem;
    height: 4rem;
    width: 4rem;
  }
  @include for-size(iPhone6-7-8-Plus) {
    margin-top: 15rem;
    height: 5rem;
    width: 5rem;
  }
  @include for-size(iPhoneX) {
    margin-top: 15rem;
    height: 5rem;
    width: 5rem;
  }
  @include for-size(iPad) {
    margin-top: 20rem;
    height: 10rem;
    width: 10rem;
  }
  @include for-size(iPad-Pro) {
    margin-top: 20rem;
    height: 10rem;
    width: 10rem;
  }
  @media (min-width: 360px) and (max-width: 360px) and (min-height: 740px) and (max-height: 740px) {
    margin-top: 13rem;
    height: 5rem;
    width: 5rem;
  }
}

.generate-picks__icon {
  fill: white;
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0;

  @include for-size(iPad) {
    height: 7rem;
    width: 7rem;
  }
  @include for-size(iPad-Pro) {
    height: 7rem;
    width: 7rem;
  }
}

.view-picks__icon {
  fill: white;
  height: 4rem;
  width: 4rem;
  margin-left: 0;

  @include for-size(iPad) {
    height: 7rem;
    width: 7rem;
  }
  @include for-size(iPad-Pro) {
    height: 7rem;
    width: 7rem;
  }
}

.generate-picks-col {
  margin-left: -2.5em;

  @include for-size(iPhone5-SE) {
    margin-left: -1em;
  }
  @include for-size(iPhone6-7-8) {
    margin-left: -1.5em;
  }
  @include for-size(iPhone6-7-8-Plus) {
    margin-left: -2em;
  }
  @include for-size(iPhoneX) {
    margin-left: -2.5em;
  }
  @include for-size(iPad) {
  }
  @include for-size(iPad-Pro) {
  }
}

.slideNumberClass {
  color: white;
  vertical-align: bottom;
}

.general-draw-date-button-sizing {
  width: 100%;
  stroke-width: 5px;

  margin-top: 28vh;
  @include for-size(iPhone5-SE) {
    height: 10.2vh;
    line-height: 10.2vh;
    margin-top: 28vh;
  }
  @include for-size(iPhone6-7-8) {
    height: 11vh;
    width: 8.8vh;
    line-height: 10.6vh;
  }
  @include for-size(iPhone6-7-8-Plus) {
    height: 11vh !important;
    width: 9.6vh;
    line-height: 10.7vh !important;
  }
  @include for-size(iPhoneX) {
    height: 10.9vh;
    line-height: 10.9vh;
    margin-top: 28vh;
  }
  @include for-size(iPad) {
    height: 10.9vh !important;
    line-height: 10.9vh !important;
  }
  @include for-size(iPad-Pro) {
    height: 11.6vh !important;
    line-height: 11.6vh !important;
  }
  @media (min-width: 360px) and (max-width: 360px) and (min-height: 740px) and (max-height: 740px) {
    height: 11vh;
    width: 8.8vh;
    line-height: 10.6vh;
  }
}

.undefined-view-picks-icon {
  width: 100%;
  stroke-width: 5px;

  margin-top: 27.5vh;
  @include for-size(iPhone5-SE) {
    height: 10.2vh;
    line-height: 10.2vh;
    margin-top: 29vh;
  }
  @include for-size(iPhone6-7-8) {
    height: 11vh;
    width: 8.8vh;
    line-height: 10.6vh;
  }
  @include for-size(iPhone6-7-8-Plus) {
    height: 11vh !important;
    width: 9.6vh;
    line-height: 10.7vh !important;
  }
  @include for-size(iPhoneX) {
    height: 10.9vh;
    line-height: 10.9vh;
    margin-top: 27.5vh;
  }
  @include for-size(iPad) {
    height: 10.9vh !important;
    line-height: 10.9vh !important;
  }
  @include for-size(iPad-Pro) {
    height: 11.6vh !important;
    line-height: 11.6vh !important;
  }
  @media (min-width: 360px) and (max-width: 360px) and (min-height: 740px) and (max-height: 740px) {
    height: 11vh;
    width: 8.8vh;
    line-height: 10.6vh;
  }
}

.generated-picks__button {
  --background: #1C1C1DFF !important;
  --background-activated: #1e1e1e !important;
}

.picks-indicator.not-drawn-yet,
.picks-indicator.drawn,
.picks-indicator.drawn-with-generated-picks-with-no-winners {
  --background: #1C1C1DFF !important;
  --background-activated: #1e1e1e !important;
}

.picks-indicator.drawn.selected,
.picks-indicator.not-drawn-yet.selected,
.picks-indicator.not-drawn.selected,
.picks-indicator.drawn-with-generated-picks-with-no-winners.selected {
  --background: #1C1C1DFF !important;
  --background-activated: #1e1e1e !important;
}

.picks-indicator.not-drawn-yet-with-generated-picks {
  --background: #FFD743FF !important;
  --background-activated: #FFD743FF !important;
}

.picks-indicator.not-drawn-yet-with-generated-picks.selected {
  --background: #FFD743FF !important;
  --background-activated: #FFD743FF !important;
}

.picks-indicator.drawn-with-generated-picks-with-winners {
  --background: #2DD36FFF !important;
  --background-activated: #2DD36FFF !important;
}

.picks-indicator.drawn-with-generated-picks-with-winners.selected {
  --background: #2DD36FFF !important;
  --background-activated: #2DD36FFF !important;
}
