@import "../../../breakpoints";
@import "../../../theme/variables";

.generate-back-button{
  margin-top: 29vh;
  @include for-size(iPhone5-SE) {
    height: 10.2vh;
    line-height: 10.2vh;
    margin-top: 29vh;
  }
  @include for-size(iPhone6-7-8) {
    margin-top: 30vh;
  }
  @include for-size(iPhone6-7-8-Plus) {
    margin-top: 30vh;
  }
  @include for-size(iPhoneX) {
    margin-top: 31vh;
  }

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 50%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

@media screen and (min-width: 800px) {
  ._25 {
    flex: 2.5;
  }
  ._55 {
    flex: 5.5;
  }
  ._20 {
    flex: 2;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ion-grid {
  height: 100%;
  padding: 0px;


  ion-row {
    height: 100%;

  }
 .draw-time-string {
  line-height: 2.7em;
}

  ion-row.drawing-time {
    height: 12.5%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $chucksPick3Gray;

    ion-col {
      padding: 0px;
    }
  }

}

.draw-date-text {
  color: $chucksPick3White;
}

.draw-date-title {
  font-size: 7.5vw;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  @include for-size(iPhone5-SE) {
    font-size: 7vw !important;
  }
}


.scroll-content {
  overflow-y: hidden;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: $chucksPick3White;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  color: $chucksPick3Black;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bold;

  @include for-size(iPhone5-SE) {
    height: 40px;
    width: 40px;
    line-height: 1.6em;
  }


}

.generate-picks-icon {
  width: 100%;
  stroke-width: 5px;

  margin-top: 27.8vh;
  @include for-size(iPhone5-SE) {
    height: 10.2vh;
    line-height: 10.2vh;
    margin-top: 29vh;
  }
  @include for-size(iPhone6-7-8) {
    height: 11vh;
    width: 8.8vh;
    line-height: 10.6vh;
  }
  @include for-size(iPhone6-7-8-Plus) {
    height: 11vh !important;
    width: 9.6vh;
    line-height: 10.7vh !important;
  }
  @include for-size(iPhoneX) {
    height: 10.9vh;
    line-height: 10.9vh;
  }
  @include for-size(iPad) {
    height: 10.9vh !important;
    line-height: 10.9vh !important;
  }
  @include for-size(iPad-Pro) {
    height: 11.6vh !important;
    line-height: 11.6vh !important;
  }

}

.generate-picks-col{
  margin-left: -2.5em;

  @include for-size(iPhone5-SE) {
    margin-left: -1em;
  }
  @include for-size(iPhone6-7-8) {
    margin-left: -1.5em;
  }
  @include for-size(iPhone6-7-8-Plus) {
    margin-left: -2em;
  }
  @include for-size(iPhoneX) {
    margin-left: -2.5em;
  }
  @include for-size(iPad) {

  }
  @include for-size(iPad-Pro) {

  }
}

.slideNumber {
  color: white;
  @include for-size(iPhone5-SE) {
    font-size: 4vw;
    padding-top: 1em;
  }
  @include for-size(iPhone6-7-8) {
    padding-top: 2em;
  }
  @include for-size(iPhone6-7-8-Plus) {
    padding-top: 2.5em;
  }
  @include for-size(iPhoneX) {
    padding-top: 5.5em;
  }
  @include for-size(iPad) {

  }
  @include for-size(iPad-Pro) {

  }
}

.general-draw-date-button-sizing {
  width: 100%;
  stroke-width: 5px;

  margin-top: 25vh;
  @include for-size(iPhone5-SE) {
    height: 10.2vh;
    line-height: 10.2vh;
    margin-top: 26vh;
  }
  @include for-size(iPhone6-7-8) {
    height: 11vh;
    width: 8.8vh;
    line-height: 10.6vh;
  }
  @include for-size(iPhone6-7-8-Plus) {
    height: 11vh !important;
    width: 9.6vh;
    line-height: 10.7vh !important;
  }
  @include for-size(iPhoneX) {
    height: 10.9vh;
    line-height: 10.9vh;
    margin-top: 25.5vh;
  }
  @include for-size(iPad) {
    height: 10.9vh !important;
    line-height: 10.9vh !important;
  }
  @include for-size(iPad-Pro) {
    height: 11.6vh !important;
    line-height: 11.6vh !important;
  }

}

.picks-indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: -5em;
  right: -2.5em;
  z-index: 99;

  @include for-size(iPhone5-SE) {
    bottom: -29vh;
    right: -2.3em;
    height: 15px;
    width: 15px;

  }
  @include for-size(iPhoneX) {
    bottom: -29vh !important;
    right: -1.9em;
  }
  @include for-size(iPhone6-7-8) {
    bottom: -28vh;
    right: -2.7em;
  }
  @include for-size(iPhone6-7-8-Plus) {
    bottom: -28vh;
    right: -2.9em;
  }
}

.picks-indicator.not-drawn-yet,
.picks-indicator.drawn,
.picks-indicator.drawn-with-generated-picks-with-no-winners {
  background-color: transparent;
}

.picks-indicator.drawn.selected,
.picks-indicator.not-drawn-yet.selected,
.picks-indicator.not-drawn.selected,
.picks-indicator.drawn-with-generated-picks-with-no-winners.selected {
  background-color: transparent;

}

.indicator.not-drawn-yet-with-generated-picks {
  background-color: $chucksPick3Yellow;
}

.picks-indicator.not-drawn-yet-with-generated-picks.selected {
  background-color: $chucksPick3Yellow;
}

.picks-indicator.drawn-with-generated-picks-with-winners {
  background-color: $chucksPick3Green;
}

.picks-indicator.drawn-with-generated-picks-with-winners.selected {
  background-color: $chucksPick3Green;
}
