<ion-row style="margin: 0; height: 100%" [style.background]="'url(' + data.backgroundImage + ')'">
    <ion-col size="2" style=" margin-right: 0px">
        <div class="picks-indicator " [ngClass]="drawStateService.picksIndicator" style="float: left"></div>
        <ion-icon src="../../../assets/view-picks-icon.svg" class="generate-picks-icon"
                  style="float: right"></ion-icon>
    </ion-col>
    <ion-col size="8">
        <ion-row>
            <ion-col>
                <div class="container">
                    <div class="row">
                        <div class="column _55 draw-date-title" style="text-align: center">
                    <span style="font-size: 7.5vw;"
                          class=" draw-date-text">{{'card.state.title' | translate}}</span>
                    </div>
                    </div>
                </div>
                <br>
                <div class="container draw-date-text" style="font-size: 5.5vw;font-weight: 500;">
                    <div class="row">
                        <div class="column _55" style="text-align: right; padding-right: 1em">
                            <ion-icon *ngIf="data.icon" src="/assets/icon/{{data.icon}}.svg"
                                      class="time-of-day-icon"></ion-icon>
                        </div>
                        <div class="column _55" style="text-align: left; line-height: 2.45em">
                            {{data.drawTimeAsString | translate}}
                        </div>
                    </div>
                </div>
              <!--  <span style="font-size: 5vw;font-weight: 500;" class="draw-date-text">
            <ion-icon *ngIf="data.icon" src="/assets/icon/{{data.icon}}.svg"
                      class="time-of-day-icon"></ion-icon>
                    {{data.drawTimeAsString | translate}}
          </span>-->
                <br>
                <span style="font-size: 4.6vw;font-weight: bold;"
                      class="draw-date-text">{{data.drawDate| date: 'mediumDate' : '' : translateService.currentLang}}</span><br>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div style="display: inline" *ngIf="showCountDownToDrawing === false">
                    <span class="dot">{{data.winningNumberDigit1}}</span>
                    <span class="dot">{{data.winningNumberDigit2}}</span>
                    <span class="dot">{{data.winningNumberDigit3}}</span>
                </div>
                <div style="display: inline" *ngIf="showCountDownToDrawing === true">
                    <countdown-timer [end]="data.drawDate"></countdown-timer>
                </div>
                <p style="color: white">{{slideNumber}}</p>
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col size="2" style=" margin-left: 0px">
        <!--<ion-icon [routerLink]="['/generate-picks']" [state]="{ selectedDrawing: data}"
                  src="../../../assets/generate-picks-icon.svg"
                  class="view-picks-icon" style="float: left"></ion-icon>-->
        <ion-icon [routerLink]="['generate-picks']" src="../../../assets/generate-picks-icon.svg"
                  class="view-picks-icon" style="float: left"></ion-icon>

    </ion-col>
</ion-row>
