<ion-row style=" height: 100%" [style.background]="' url(' + data.backgroundImage + ')'">
  <ion-col size="3" class="ion-align-self-start">
    <ion-fab-button
      [routerLink]="['/','view']"
      [disabled]="viewPicksButton"
      [state]="{
                    currentSlideNumber: this.id,
                  currentDay: this.data.getDrawDate()
                  }"
      [ngClass]="pick3DrawState"
      class="home-screen__floating-action-button picks-indicator"
      (click)="switchDrawDateButtons('gotoViewPicks')"
      routerDirection="back"
    >
      <ion-icon src="../../../assets/icon/previous-picks__button.svg"
                class="view-picks__icon"></ion-icon>
    </ion-fab-button>
  </ion-col>
  <ion-col size="6">
    <ion-row>
      <ion-col>
        <div class=" draw-date-title" style="text-align: center; margin-top: 1.5em">
          <span style="font-size: 7vw" class="draw-date-text">{{'card.state.title' | translate}}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="_55" style="text-align: right; padding-right: 1em; color: white">
        <ion-icon *ngIf="data.icon" src="/assets/icon/{{data.icon}}.svg" class="time-of-day-icon "></ion-icon>
      </ion-col>
      <ion-col class="_55 draw-date-text"
               style="text-align: left; align-self: center;  font-size: 1.5rem">{{data.drawTimeAsString | translate}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="_55"
               style="text-align: center; margin-left: auto; margin-right: auto; flex-basis: 80% !important"><span
        style="font-size: 4.6vw; font-weight: bold"
        class="draw-date-text">{{data.drawDate| date: 'EEE MMM d y ' : '' : translateService.currentLang}}</span><br />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="_55" style="text-align: center; margin-left: auto; margin-right: auto; flex-basis: 100%">
        <div style="display: inline" *ngIf="showCountDownToDrawing === false">
          <span class="dot">{{data.winningNumberDigit1}}</span>
          <span class="dot">{{data.winningNumberDigit2}}</span>
          <span class="dot">{{data.winningNumberDigit3}}</span>
        </div>
        <div style="display: inline" *ngIf="showCountDownToDrawing === true">
          <countdown-timer *ngIf="drawDateCardUnavailable === false" [end]="data.drawDate"></countdown-timer>
          <div style="color: #ff4f4f;  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000" *ngIf="drawDateCardUnavailable === true">
            <b><p style=" font-size: 3.5vw">{{'day.not.available' | translate}}</p></b>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="slide-number-row">
      <ion-col  class="_55" style="text-align: center; margin-left: auto; margin-right: auto">
        <p [class.slideNumberClass]="slideNumberClass">{{id}}</p>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="3" class="ion-align-self-end">
    <ion-fab-button
      (click)="switchDrawDateButtons('gotoPreviousWinningNumber'); gotoGeneratePicks();"
      [routerLink]="['/','select-picks']"
      class="home-screen__floating-action-button generated-picks__button"
      [disabled]="generatePicksButton"
      [state]="{
                  currentSlideNumber: this.id,
                  currentDay: this.data.getDrawDate()
                }"
      routerDirection="forward"
    >
      <ion-icon src="../../../assets/icon/new-picks__button.svg"
                class="generate-picks__icon"></ion-icon>
    </ion-fab-button>
  </ion-col>
</ion-row>
