data-backgroundImage = {{data.backgroundImage}}
<ion-row class="primary-view" [style.background]="'url(' + data.backgroundImage + ')'">
    <ion-col size="2" style=" margin-right: 0px">
        <div class="picks-indicator " [ngClass]="drawStateService.picksIndicator" style="float: left"></div>
        <ion-icon src="../../../assets/view-picks-icon.svg" class="generate-picks-icon"
                  style="float: right"></ion-icon>
    </ion-col>
    <ion-col size="8">
        <ion-row>
            <ion-col>
                    <span style="font-size: 7.5vw;font-weight: bolder;"
                          class="draw-date-title draw-date-text">{{'card.state.title' | translate}}</span><br><br>
                <span style="font-size: 5vw;font-weight: 500;" class="draw-date-text">
            <ion-icon *ngIf="data.icon" src="/assets/icon/{{data.icon}}.svg"
                      class="time-of-day-icon"></ion-icon>
                    {{data.drawTimeAsString | translate}}
          </span>
                <br><br>
                <span style="font-size: 4.6vw;font-weight: bold;"
                      class="draw-date-text">{{data.drawDate| date: 'mediumDate' : '' : translateService.currentLang}}</span><br>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div style="display: inline" *ngIf="showCountDownToDrawing === false">
                    <span class="dot">{{data.winningNumberDigit1}}</span>
                    <span class="dot">{{data.winningNumberDigit2}}</span>
                    <span class="dot">{{data.winningNumberDigit3}}</span>
                </div>
                <div style="display: inline" *ngIf="showCountDownToDrawing === true">
                    <countdown-timer [end]="data.drawDate"></countdown-timer>
                </div>
                <p style="color: white">{{slideNumber}}</p>
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col size="2" style=" margin-left: 0px">
        <!--<ion-icon [routerLink]="['/generate-picks']" [state]="{ selectedDrawing: data}"
                  src="../../../assets/generate-picks-icon.svg"
                  class="view-picks-icon" style="float: left"></ion-icon>-->
        <ion-icon src="../../../assets/generate-picks-icon.svg"
                  class="view-picks-icon" style="float: left"></ion-icon>

    </ion-col>
</ion-row>
<!--<div style="display: block; height: 100%; width: 100%; background: #2fdf75">
    <div style="vertical-align: middle"><h1>Child 1</h1></div>
</div>-->
