<ion-grid>
  <ion-row class="primary-view" [style.background]="'url(' + data.getBackgroundImage() + ')'">
    <ion-col>
      <span style="font-size: 1.5em;font-weight: bolder;">{{data.getDrawState()}} {{data.getTitle()}}</span><br><br>
      <span style="font-size: 1.25em;font-weight: 500;">{{data.getDrawTime()}}</span><br><br>
      <span style="font-size: 1.0em;font-weight: bold;">{{data.getDrawDate() | date}}</span><br><br>
      <span class="dot">2</span>
      <span class="dot">9</span>
      <span class="dot">0</span>
      <!--<p>{{slideNumber}}</p>-->
    </ion-col>
  </ion-row>
  <ion-row class="drawing-time">
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>
  <ion-row class="drawing-time">
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>
  <ion-row class="drawing-time">
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>
  <ion-row class="drawing-time">
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>
</ion-grid>
