<div class="main-content-container-fluid">
  <form class="needs-validation" novalidate (ngSubmit)="onSubmit()" #signUpForm="ngForm">
    <div class="row">
      <div class="col-4 mx-auto text-left ">
        <p class="h4 mb-4 c text-center">Sign up </p>
        <div class="info-form">
          <div class="form-row">
            <label for="defaultRegisterFormFirstName">First Name</label>
            <input id="defaultRegisterFormFirstName"
                   name="firstName"
                   class="form-control"
                   placeholder="First name"
                   #firstName="ngModel"
                   type="text"
                   required ngModel nameValidator minLengthValidator dataValidator>
            <div class="alert alert-danger" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
              <div *ngIf="firstName.errors.dataValidator">- First name is required.</div>
              <div *ngIf="firstName.errors.minLengthValidator">- First name should have minimum 2 characters.</div>
              <!--<div *ngIf="firstName.errors.pattern">- May only use alphabetical characters.</div>-->
              <div *ngIf="firstName.errors.nameValidator">- May only use alphabetical characters.</div>

            </div>
          </div>
          <br>
          <div class="form-row">
            <label for="defaultRegisterFormLastName">Last Name</label>
            <input id="defaultRegisterFormLastName"
                   name="lastName"
                   #lastName="ngModel"
                   type="text"
                   class="form-control" placeholder="Last name"
                   required ngModel nameValidator dataValidator minLengthValidator>
            <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
              <div *ngIf="lastName.errors.dataValidator">- Last name is required.</div>
              <div *ngIf="lastName.errors.minLengthValidator">- Last name should have minimum 2 characters.</div>
              <div *ngIf="lastName.errors.nameValidator">- May only use alphabetical characters.</div>
            </div>

          </div>
        </div>
         <br>
        <div class="form-row">
          <label for="defaultRegisterFormEmail">Email</label>
          <input
                 type="email"  name="email" email #email="ngModel"
                 id="defaultRegisterFormEmail"
                 class="form-control" placeholder="Email"
          required ngModel dataValidator emailValidator>
          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.dataValidator">- Email is required.</div>
            <div *ngIf="email.errors.emailValidator">- Email is not valid.</div>
          </div>
        </div>
        <br>
     <div class="form-row">
          <label for="defaultRegisterFormPhone">Phone</label>
          <input type="text"  name="phoneNumber"
                 #phoneNumber="ngModel"
                 id="defaultRegisterFormPhone"
                class="form-control"
                 placeholder="Phone Number"
                 required ngModel dataValidator numberValidator phoneNumberMinLengthValidator>
          <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">
            <div *ngIf="phoneNumber.errors.dataValidator">- Phone number is required.</div>
            <div *ngIf="phoneNumber.errors.numberValidator">- Phone number must only contain numeric characters.</div>
          <div *ngIf="phoneNumber.errors.phoneNumberMinLengthValidator">- Phone number is invalid.</div>

          </div>
        </div>
        <br>
        <div class="form-row">
          <label for="defaultRegisterFormCity">City</label>
          <input  name="cityName" #cityName="ngModel"
                  type="text"
                 id="defaultRegisterFormCity"
                  class="form-control"
                  placeholder="City"
                  required ngModel dataValidator nameValidator minLengthValidator>
          <div class="alert alert-danger" *ngIf="cityName.touched && !cityName.valid">
            <div *ngIf="cityName.errors.dataValidator">- City name is required.</div>
            <div *ngIf="cityName.errors.nameValidator">- City name must only contain alphabetical characters.</div>
            <div *ngIf="cityName.errors.minLengthValidator">- City name is invalid.</div>
          </div>
        </div>
        <br>
        <div class="form-row">
          <label for="defaultRegisterFormCity">State</label>
          <label for="stateDropDownId"></label>
          <select #stateDropDownInputName="ngModel"
                  name="stateDropDownInputName"
                  class="custom-select" id="stateDropDownId"
                  required ngModel dataValidator>
            <option value="" selected>Select a State</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="5">California</option>
            <option value="6">Colorado</option>
            <option value="7">Connecticut</option>
            <option value="8">Delaware</option>
            <option value="1">District Of Columbia</option>
            <option value="1">Florida</option>
            <option value="1">Georgia</option>
            <option value="1">Hawaii</option>
            <option value="1">Idaho</option>
            <option value="1">Illinois</option>
            <option value="1">Indiana</option>
            <option value="1">Iowa</option>
            <option value="1">Kansas</option>
            <option value="1">Kentucky</option>
            <option value="1">Louisiana</option>
            <option value="1">Maine</option>
            <option value="1">Maryland</option>
            <option value="1">Massachusetts</option>
            <option value="1">Michigan</option>
            <option value="1">Minnesota</option>
            <option value="1">Mississippi</option>
            <option value="1">Missouri</option>
            <option value="1">Montana</option>
            <option value="1">Nebraska</option>
            <option value="1">Nevada</option>
            <option value="1">New Hampshire</option>
            <option value="1">New Jersey</option>
            <option value="1">New Mexico</option>
            <option value="1">New York</option>
            <option value="1">North Carolina</option>
            <option value="1">North Dakota</option>
            <option value="1">Ohio</option>
            <option value="1">Oklahoma</option>
            <option value="1">Oregon</option>
            <option value="1">Pennsylvania</option>
            <option value="1">Rhode Island</option>
            <option value="1">South Carolina</option>
            <option value="1">South Dakota</option>
            <option value="1">Tennessee</option>
            <option value="1">Texas</option>
            <option value="1">Utah</option>
            <option value="1">Vermont</option>
            <option value="1">Virginia</option>
            <option value="1">Washington</option>
            <option value="1">West Virginia</option>
            <option value="1">Wisconsin</option>
            <option value="1">Wyoming</option>
          </select>

          <div class="alert alert-danger" *ngIf="stateDropDownInputName.touched && !stateDropDownInputName.valid">
            <div *ngIf="stateDropDownInputName.errors.dataValidator">- State selection is required.</div>
          </div>
        </div>
        <br>
        <div class="form-row">
          <label for="defaultRegisterFormZip">Zip</label>
          <input name="zipCode"
                 #zipCode="ngModel"
                 type="text"
                 id="defaultRegisterFormZip" class="form-control"
                 placeholder="Zip"
                 required ngModel dataValidator numberValidator zipLengthValidator>
          <div class="alert alert-danger" *ngIf="zipCode.touched && !zipCode.valid">
            <div *ngIf="zipCode.errors.dataValidator">- Zip code is required.</div>
            <div *ngIf="zipCode.errors.numberValidator">- Zip code must only contain numeric characters.</div>
            <div *ngIf="zipCode.errors.zipLengthValidator">- Zip code is invalid.</div>
          </div>
        </div>
        <br>
        <div class="form-row">
          <label for="defaultRegisterFormCity">Type Of Phone</label>
          <label for="typeOfPhoneId"></label>
          <select #dropDownTypeOfPhoneName="ngModel"
                  name="dropDownTypeOfPhoneName"
                  class="custom-select"
                  id="typeOfPhoneId"
                  required ngModel dataValidator>
            <option value="" selected>Type Of Phone</option>
            <option value="Iphone">Iphone</option>
            <option value="Android">Android</option>
          </select>
          <div class="alert alert-danger" *ngIf="dropDownTypeOfPhoneName.touched && !dropDownTypeOfPhoneName.valid">
            <div *ngIf="dropDownTypeOfPhoneName.errors.dataValidator">- Selection is required.</div>
          </div>
        </div>
        <br>
        <div class="form-row">
          <label for="defaultRegisterFormCity">How Often Do You Play?</label>
          <label for="howOftenId"></label>
          <select  #dropDownHowOftenName="ngModel"
                   name="dropDownHowOftenName"
                  class="custom-select" id="howOftenId"
                   required ngModel dataValidator>
            <option value="" selected>How Often Do You Play?</option>
            <option value="Often">Often</option>
            <option value="Sometimes">Sometimes</option>
            <option value="Never">Never</option>
          </select>
          <div class="alert alert-danger" *ngIf="dropDownHowOftenName.touched && !dropDownHowOftenName.valid">
            <div *ngIf="dropDownHowOftenName.errors.dataValidator">- Selection is required.</div>
          </div>
          <br>
          <br>
          <br>
          <button type="submit" class="btn btn btn-success btn-lg btn-block" [disabled]="!signUpForm.form.valid">
            Submit
          </button>

        </div>
      </div>
      <br>
      <br>
    </div>
    <br>
  </form>
  <br>
  <div class="footer"></div>
  <br>

</div>
