<a href="info.html#demo">
  <div class="demo-container mobile-container">
    <div class="container-spacing"></div>
    <div class="link-container-img">
     <!-- <img src="assets/img/screens-01.png"  width="410" height="265px">-->
    </div>
    <div class="link-container-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tristique semper. Nullam lacinia
        tincidunt lectus vel volutpat.</p>
    </div>
  </div>
</a>
<div class="mobile-space">
  <div class="break-line"></div>
</div>
