<!--<div class="nav-bar-container">&lt;!&ndash;style="background-color: white"//&ndash;&gt;
  <div class="main-nav-bar-container sticky hidden-mobile hidden-mobile-450 hidden-mobile-768">
    <a [routerLink]="'/home'" routerLinkActive="active" [queryParams]="{showSubNavBar: false}">
      <div class="nav-bar-col-15  allow-hover">
        <img src="../../../../assets/images/cp3-web-logo.svg" style="height: auto; width: 10vw; vertical-align: middle">
      </div>
    </a>
    <a [routerLink]="'/requirements'" class="info" routerLinkActive="active" [queryParams]="{showSubNavBar: true}">
      <div class="nav-bar-col-15  allow-hover" routerLinkActive="howToActive" id="howTo">
        <b>How To</b>
      </div>
    </a>
    <a [routerLink]="['/demo']" routerLinkActive="active" [queryParams]="{showSubNavBar: false}">
      <div class="nav-bar-col-15 allow-hover">
        <b>Demo</b>
      </div>
    </a>
    <div class="nav-bar-col-20">
<br>
    </div>
    <div class="nav-bar-col-20">
      <br>
    </div>
    <div class="nav-bar-col-15">
      <a [routerLink]="['/sign-up']" routerLinkActive="active" [queryParams]="{showSubNavBar: false}">
        <div class="nav-bar-col-50 allow-hover" id="sign-up" style="background-color: #2dd36f">
          <b>Sign-Up</b>
        </div>
      </a>
      <a [routerLink]="['/customers']" routerLinkActive="active" [queryParams]="{showSubNavBar: false}">
        <div class="nav-bar-col-50 allow-hover" id="summary">
          <b>Summary</b>
        </div>
      </a>
      <a [routerLink]="['/log-in']" routerLinkActive="active" [queryParams]="{showSubNavBar: false}">
        <div class="nav-bar-col-50 allow-hover" id="log-in">
          <b>Log-In</b>
        </div>
      </a>
      <a [routerLink]="['/log-in']" routerLinkActive="active" [queryParams]="{showSubNavBar: false}">
        <div class="nav-bar-col-50 allow-hover" id="log-out" (click)="changeToLogInButton()">
          <b>Log-Out</b>
        </div>
      </a>
    </div>
  </div>
 -->


<div class="navigation sticky show-desktop">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 desktop-nav-button" style="display: flex" [routerLink]="'/home'" (click)=" backToTop();" > <!--saveFragment('null');-->
        <img src="../../../../assets/images/cp3-web-logo.svg" style="width: auto; height: 8vh; margin: auto auto;">
      </div>
      <div class="col-1 desktop-nav-button" [routerLink]="'/home'" (click)="saveFragment('howToDesktop')" ><b style="margin: auto auto">How To</b></div>
      <div class="col-1 desktop-nav-button" [routerLink]="'/home'" (click)="saveFragment('demoDesktop')" ><b style="margin: auto auto">Try It</b></div>
      <div class="col-7 "></div>
      <!--<div class="col-1" style=" ><b style="margin: auto auto">Log In</b></div>-->

      <div class="col-1 desktop-nav-button" [routerLink]="['/sign-up']" style=" background-color: #2dd36f;  "><b style="margin: auto auto">Sign Up</b></div>

    </div>
  </div>
</div>


<div class="mobile-nav-bar-container sticky show-mobile">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-3  allow-hover">

        <div id="topnav" class="topnav-mobile-menu" (click)="saveFragment('null'); openCloseMobileNav();"></div>

        <div class="side-nav-stick">

          <div id="side-nav-bar" class="sidenav">
            <div class="menu">


              <div class="hamburger-menu-section-2">
                <div class="options">
                  <div class="block" [routerLink]="'/home'"  (click)="closeNav();saveFragment('keyFeaturesMobile')">
                    <a (click)="closeNav(); saveFragment('keyFeaturesMobile')"><b>Key Features</b></a>
                  </div>
                </div>
                <div class="options">
                  <div class="block" [routerLink]="'/home'" (click)="closeNav();saveFragment('howToMobile')">
                    <a (click)="closeNav(); saveFragment('howToMobile')"><b>How To</b></a>
                  </div>
                </div>
                <div class="options">
                  <div class="block" [routerLink]="'/home'" (click)="closeNav(); saveFragment('demoMobile')">
                    <a (click)="closeNav(); saveFragment('demoMobile')"><b>Try It</b></a>
                  </div>
                </div>
                <div class="mobile-nav-img"><img src="../../../../assets/images/menuIcons/mobile-nav-image.svg"></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-6" style="display: flex" [routerLink]="'/home'" (click)="closeNav(); backToTop()">
       <img src="../../../../assets/images/cp3-web-logo.svg" style="width: auto; height: 6vh; margin: auto auto;">
      </div>

      <div class="col-3 nav-bar-sign-up">
        <button [routerLink]="'/sign-up'" class="btn sign-up-btn"><b>Sign Up</b></button>
      </div>
      <!-- <div [routerLink]="'/log-in'" routerLinkActive="active" class="nav-bar-col-20 float-right allow-hover"
            (click)="closeNav()">
         <a [routerLink]="'/log-in'" routerLinkActive="active">Login</a>
       </div>

       <div [routerLink]="'/sign-up'" class="nav-bar-col-20 float-right allow-hover" routerLinkActive="active"
            (click)="closeNav()">
         <a [routerLink]="'/sign-up'" routerLinkActive="active">Sign Up</a>
       </div>-->
    </div>
  </div>
</div>
<!--mobile-nav-bar-container sticky hidden-mobile-nav hidden-mobile-450-nav hidden-mobile-768-nav show-on-tablet-->
<div class="mobile-nav-bar-container sticky  show-tablet">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3"  [routerLink]="'/home'" (click)="saveFragment('null'); backToTop();"  style="display: flex">
        <img src="../../../../assets/images/cp3-web-logo.svg" style="width: auto; height: 8vh; margin: auto auto;">
      </div>
      <div class="col-2 tablet-nav-button" [routerLink]="'/home'" (click)="saveFragment('howToTablet')"><b style="margin: auto auto">How To</b></div>
      <div class="col-2 tablet-nav-button" [routerLink]="'/home'" (click)="saveFragment('demoTablet'); showY()"><b style="margin: auto auto">Try It</b></div>
      <div class="col-1 tablet-nav-button"></div>
      <div class="col-2 tablet-nav-button"> <!--[routerLink]="['/log-in']"--><!--<b style="margin: auto auto">Log In</b>--></div>

      <div class="col-2 tablet-nav-button" [routerLink]="['/sign-up']" style="background-color: #2dd36f;"><b style="margin: auto auto">Sign Up</b></div>

    </div>
  </div>
</div>
