* {
    box-sizing: border-box;
}

.nav-bar-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}


.main-nav-bar-container a:hover {
    text-decoration: none;
    color: black;
}

.nav-bar-col-15 {
    display: inline-block;
    float: left;
    line-height: 3em;
    text-align: center;
    width: 25%;
    /*border: 2px solid blue;*/
    height: 100%;


}


.nav-bar-col-20 {
    display: none;


}

.nav-bar-col-15 a {
    list-style-type: none;
    font-size: 17px;
    text-decoration: none;
    color: black;

}

.nav-bar-col-50 {
    float: right;

    width: 50%;
    /*border: 1px solid red;*/
    height: 100%;


}

.nav-bar-col-50 a {

    color: black;
    text-decoration: none;
    font-size: 17px;


}

.main-nav-bar-container .nav-bar-col-15.allow-hover:hover {
    background-color: green ;
    cursor: pointer;
}

/*ain-nav-bar-container .nav-bar-col-25.active {
     background-color: gray;
 }*/
.main-nav-bar-container .nav-bar-col-50.active {

  text-decoration: none;
}

.main-nav-bar-container .nav-bar-col-50.allow-hover:hover {
    background-color: green;
    cursor: pointer;
}








/*.nav-bar-col-25:active {
  background-color: gray;
}*/
/***************************************/

.sub-nav-bar-container {
    width: 80%;
    height: 50px;
    background-color: black;
    float:right;
    /*border: 2px solid black;
    padding: 5px;*/
}
.sub-nav-bar-container a:hover {
    text-decoration: none;
    color: white;
}

.sub-nav-bar-col-25 {
    display: inline-block;
    float: left;
    line-height: 3em;
    text-align: center;
    width: 25%;
    /*border: 2px solid blue;*/
    height: 100%;

}

.sub-nav-bar-col-25 a {
    list-style-type: none;
    font-size: 17px;
    color: white;


}

.sub-nav-bar-col-50 {
    float: left;
    width: 50%;
    /*border: 1px solid red;*/
    height: 100%;


}

.sub-nav-bar-col-50 a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}


.sub-nav-bar-container .sub-nav-bar-col-50.allow-hover:hover {
    background-color: green;
    cursor: pointer;
    text-decoration: none;
}

/*---- Alignment for link containers ------*/

/* Responsive Set Up------- */




img {
    max-width: 100%;
    height: auto;
}
.mobile-nav-bar-container {
    display: none;
}

.mobile-sub-nav-bar-title-container {
    display: none;
}

.mobile-sub-nav-bar-container {
    display: none;
}
.mobile-spacing {
    display: none;
}

@media only screen and (max-width: 760px) {

    .mobile-spacing {
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    .main-content-container{
        display: inline-block;
        height: 250px;
        width: 70%;
        margin-left: 15%;
        font-size: 11px;
    }
    .col-3 {
        position: inherit !important;
    }
    .main-nav-bar-container{
        display: none;
    }
    .sub-nav-bar-container {
        display: none;
    }
    .nav-bar-col-20 {
        display: inline-block;
        float: left;
        line-height: 3em;
        text-align: center;
        width: 20%;
        /*border: 2px solid blue;*/
        height: 100%;


    }

    .nav-bar-col-20 a {
        list-style-type: none;
        font-size: 17px;
        text-decoration: none;
        color: black;

    }

    .sub-nav-bar-title-container {
        display: none;
    }

    .float-right {
        float: right;
    }
    /*------sub-nav-bar-----*/
    [class*="sub-nav-bar-col-25"] {
        width: 25%

    }
    .mobile-sub-nav-bar-title-container {
        display: block;
        width: 100%;
        font-size: 12px ;
        text-align: center;
        line-height: 3em;
        background-color: white;
        float: right;
    }
    .mobile-sub-nav-bar-container {

        display: block;
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        float:right;
        /*border: 2px solid black;
        padding: 5px;*/
    }




    .sub-side-nav-stick{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .mobile-space {
        display: inline-block;
        height: 50px;
        width: 100%;

    }


    .mobile-space {
        display: inline-block;
        height: 50px;
        width: 100%;

    }
    .break-line {
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: black;
        margin-top: 1.4em;
        align-content: center;
    }


    .mobile-sub-nav-bar-container .sub-nav-bar-col-25.allow-hover:hover {
        background-color: green;

        cursor: pointer;
        text-decoration: none;

    }
    .sub-sticky {
        position: fixed;
        top: 0;
        width: 100%;


    }

    .sub-side-nav-stick{
        position: fixed;
        top: 10em;
        width: 100%;

    }

    .subsidenav {
        display: block;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        transition: 0.5s;
        margin-bottom: 20px;

    }

    /*------sub-nav-bar-----*/


    .mobile-nav-bar-container .nav-bar-col-20.allow-hover:hover {
        background-color: green;
        cursor: pointer;
    }

    .mobile-nav-bar-container a:hover {
        text-decoration: none;
        color: black;
    }


    .logo-container {
        height: 135px;
        width: 30%;

        /* stays at 20% width, takes on height of header-img */
    }

    .header-img-container {
        height: 135px;
        width: 70%;
        /* stays at 80% width */
    }




}

/*---Hamburger Menu----*/



.side-nav-stick{
    display: inline-block;
    position: relative;
    top: .85em;
}

.sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    background-color: rgba(231, 231, 231, 0);
    overflow-x: hidden;
    transition: 0.5s;


}































.sticky {
  position: fixed;
  top: 0;
  width: 100% !important;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.sticky {
    position: fixed;
    top: 0;
    width: 70%;
}

/*------implement and erase --*/

.menu {
    display: inline-block;
    background-color: black;
    width: 100%;
    height: 100%;

}

.end {
    display: inline-block;
    width: 100%;
    height: 5%;
    padding-right: 10px;

}
.end a {
    float: right;
    line-height: 1em;
    color: #ffffff;
    font-size: 40px;

}

.menu-title {
    display: inline-block;

    width: 100%;
    height: 6%;
    vertical-align: middle;



}

.menu-title h2{
    position: relative;
    color: white;
    text-align: left;
    left:10px;



}

.hamburger-menu-section-1 {
    width: 100%;
    height: 6%;

}
.hamburger-menu-indent {
    width: 10%;
    height: 100%;
    float: left;
}


.how {
    display: inline-block;

    width: 90%;
    height: 100%;
    float: right;
}

.how h5 {
    line-height: 2em;
    text-align: left;
    color: white;
}


.hamburger-menu-section-2 {
    width: 100%;
    height: 30%;

}

.options {
    display: inline-block;

    width: 100%;
    height: 25%;


}
.options:hover{
    background-color: white;
}
.options:hover   a {

    color: black;
}

.options a{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: gray;
}



.option-indent {
    width: 10%;
    height: 100%;
    float: left;
}





.block {

    width: 100%;
    height: 100%;
    text-align: left;
}

.hamburger-menu-section-3 {
    width: 100%;
    height: 8%;

}


.hamburger-menu-section-3:hover{
    background-color: white;
}
.hamburger-menu-section-3:hover   a {

    color: black;
}


.demo {
    display: inline-block ;

    width: 90%;
    height: 100%;
    text-align: left;
    float: right;

}



.demo a h5{
    line-height: 3em;
    color: white;
}

.demo a h5:hover{
    color: black;
}
