/*Variables for CP3 Color Scheme*/
$darkModeToolbar: #1c1c1d;
$darkModeToolbarItems: #d7d7d7;
$chucksPick3Green: #2dd36f;
$chucksPick3Yellow: #ffd743;
$chucksPick3LightGray: #f3f3f3;
$chucksPick3Gray: #d7d7d7;
$chucksPick3DarkGray: #5c5c5c;
$chucksPick3Black: #1c1c1d;
$chucksPick3White: #fafafa;
