<div class="header-container">
  <div class="logo-container">

  </div>
  <div class="header-img-container">

  </div>
  <div class="nav-bar-container"><!--style="background-color: white"//-->
    <div class="main-nav-bar-container">
      <a [routerLink]="[{outlets: {body: ['home']}}]">
      <div class="nav-bar-col-25  allow-hover active ">
       Home
      </div>
      </a>

      <a [routerLink]="[{outlets: {body: ['info']}}]" class="info">
      <div  class="nav-bar-col-25 allow-hover">
      How To
      </div>
      </a>
     <a [routerLink]="[{outlets: {body: ['demo']}}]" class="info">
      <div  class="nav-bar-col-25 allow-hover">
        Demo
      </div>
      </a>


      <div class="nav-bar-col-25">
        <a [routerLink]="[{outlets: {body: ['log-in']}}]">
        <div  class="nav-bar-col-50 allow-hover">
          Login
        </div>
      </a>
      <a [routerLink]="[{outlets: {body: ['sign-up']}}]" >
        <div class="nav-bar-col-50 allow-hover">
          Sign Up
        </div>
      </a>


      </div>
    </div>


  </div>





</div>
